@using Foundation.Features.Blocks.BreadcrumbBlock

@model BreadcrumbBlockViewModel

@{ 
    var totalItem = Model.Breadcrumb != null ? Model.Breadcrumb.Count : 0;
}

<div style="background-color: @Model.CurrentBlock.BackgroundColor; opacity:@Model.CurrentBlock.BlockOpacity;" class="row @(Model.CurrentBlock.Padding + " " + Model.CurrentBlock.Margin)" @Html.EditAttributes(x => x.CurrentBlock.DestinationPage)>
    <div class="col-12">
        @if (totalItem > 0)
        {
            <ul class="breadcrumb__group @(string.IsNullOrEmpty(Model.CurrentBlock.Alignment) ? "flex-center" : Model.CurrentBlock.Alignment)">
                @for (var i = 0; i < totalItem; i++)
                {
                    <li class="breadcrumb__item @(Request.Url.AbsolutePath == Model.Breadcrumb[i].Url ? "is-active" : "")">
                        <a href="@Model.Breadcrumb[i].Url">@Model.Breadcrumb[i].Name</a>
                    </li>
                    if (i < totalItem - 1)
                    {
                        <li class="breadcrumb__slash">@Model.CurrentBlock.Separator</li>
                    }
                }
            </ul>
        }
    </div>
</div>