@model int

@{ 
    var listProcess = new List<string>
    {
        @Html.TranslateFallback("/Checkout/CheckoutMethod", "Checkout Method"),
        @Html.TranslateFallback("/Checkout/ShippingAddresses", "Shipping Addresses"),
        @Html.TranslateFallback("/Checkout/ShippingInformation", "Shipping Information"),
        @Html.TranslateFallback("/Checkout/BilllingInformation", "Billling Information"),
        @Html.TranslateFallback("/Checkout/Subscription", "Subscription"),
        @Html.TranslateFallback("/Checkout/PlaceOrder", "Place Order"),
        @Html.TranslateFallback("/Checkout/OrderSuccess", "Order Success"),
    };
    var current = 1;
}

<div class="row">
    <div class="col-12">
        <ul class="checkout__status-bar">
            @foreach (var process in listProcess)
            {
                <li class="@(Model == current ? " active" : "light-text")" title="@process">
                    <div class="triangle"></div>
                    <span class="title">@process</span>
                </li>
                current++;
            }
        </ul>
    </div>
</div>

