@model CheckoutViewModel
@{
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
@Html.Partial("_CheckoutStatusBar", 3)

<div class="row">


    <div class="col-12">
        @using (Html.BeginForm("UpdateShippingMethods", "Checkout", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            for (var shipmentIndex = 1; shipmentIndex <= Model.Shipments.Count(); shipmentIndex++)
            {
                @Html.HiddenFor(model => model.Shipments[shipmentIndex - 1].Address.AddressId)
                @Html.HiddenFor(model => model.Shipments[shipmentIndex - 1].Address.Name)
                @Html.HiddenFor(model => model.Shipments[shipmentIndex - 1].Address.FirstName)
                @Html.HiddenFor(model => model.Shipments[shipmentIndex - 1].Address.LastName)
                @Html.HiddenFor(model => model.Shipments[shipmentIndex - 1].Address.PostalCode)
                @Html.HiddenFor(model => model.Shipments[shipmentIndex - 1].Address.City)
                @Html.HiddenFor(model => model.Shipments[shipmentIndex - 1].Address.CountryCode)
                @Html.HiddenFor(model => model.Shipments[shipmentIndex - 1].Address.CountryRegion.Region)
                @Html.HiddenFor(model => model.Shipments[shipmentIndex - 1].Address.Line1)
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="title">
                                    @Html.TranslateFallback("/Checkout/Shipment/Labels/Shipment", "Shipment") @shipmentIndex @Html.TranslateFallback("/Checkout/Shipment/Labels/Of", "of") @Model.Shipments.Count()
                                </h4>
                                <div class="light-text">
                                    <strong>
                                        @Html.Translate("/Shipment/ShippingTo")
                                    </strong>
                                    @string.Format("{0}, {1}, {2}, {3}", Model.Shipments[shipmentIndex - 1].Address.Line1,
                                        Model.Shipments[shipmentIndex - 1].Address.City,
                                        Model.Shipments[shipmentIndex - 1].Address.CountryRegion.Region,
                                        Model.Shipments[shipmentIndex - 1].Address.PostalCode)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                @foreach (var cartItem in Model.Shipments[shipmentIndex - 1].CartItems)
                                {

                                    var viewData = new ViewDataDictionary();
                                    viewData.Add(new KeyValuePair<string, object>("IsReadOnly", true));
                                    <div class="checkout__cart-item">
                                        <div class="row">
                                            @Html.Partial("~/Features/NamedCarts/DefaultCart/_ItemTemplate.cshtml", cartItem, viewData)
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>

                    </div>


                    <div class="col-xs-12 col-sm-4">
                        <p class="title">@Html.TranslateFallback("/Checkout/MultiShipment/DeliveryOption", "Choose delivery option")</p><br />
                        <ul class="checkout__delivery-block style-list-none">
                            @foreach (var shippingMethodViewModel in Model.Shipments[shipmentIndex - 1].ShippingMethods)
                            {
                                <li>
                                    <label class="checkbox">
                                        @shippingMethodViewModel.DisplayName @shippingMethodViewModel.Price.ToString()
                                        @Html.RadioButtonFor(model => Model.Shipments[shipmentIndex - 1].ShippingMethodId, shippingMethodViewModel.Id, new { @id = shippingMethodViewModel.Id, @class = "jsChangeShipment" })
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }


            <div class="row checkout__block">
                <div class="col-12 checkout__btn-group">
                    <a class="account-link" href="@Url.Action("SingleShipment", new { node = Model.CurrentContent.ContentLink })" title=@Html.TranslateFallback("/Shared/Back", "Back")>
                        <span>@Html.TranslateFallback("/Shared/Back", "Back")</span>
                    </a>
                    <button class="button-black" type="submit">
                        <span>@Html.TranslateFallback("/Shared/Continue", "Continue")</span>
                    </button>
                </div>
            </div>
        }
    </div>
</div>