@model ReviewViewModel

<li class="col-12">
    <div class="product-tab__review">
        <div class="review__right">
            <p>
                <small>@Html.TranslateFallback("/Reviews/ReviewBy", "Review By")</small>
                <span class="title">@Model.Nickname</span>
            </p>

            <div class="rating non-border small rate-@((int)Model.Rating)">
                <i data-feather="star"></i>
                <i data-feather="star"></i>
                <i data-feather="star"></i>
                <i data-feather="star"></i>
                <i data-feather="star"></i>
            </div>
            <small>
                @Html.TranslateFallback("/Shared/On", "on") @Model.AddedOn.ToString()
            </small>
        </div>

        <div class="review__left">
            <p class="title">@Model.Title</p>

            <div class="review-txt">
                @Model.Body
            </div>
        </div>

    </div>
</li>