@using N1990.Episerver.Cms.Audit.Models
@model CmsAuditPage
@{
    Layout = "../Shared/_layout.cshtml";
    var pageTypeCtr = 1;
}

	<div id="cms-content-types" data-type="block">
		@if (Model.JobLastRunTime == DateTime.MaxValue)
		{
			<div class="alert alert-primary" role="alert">
				We are currently collecting data to show here. <a href="@Url.Action("", "BlockTypes")" class="btn btn-info">Click here to refresh</a>
			</div>
		}
		else if (((TimeSpan)(DateTime.Now - Model.JobLastRunTime)).TotalHours > 24)
		{
			<div class="alert alert-success" role="alert">
				It's been more than 24h since we last ran the job to identify block type usage. <a href="@Url.Action("RunJob", "BlockTypes")" class="btn btn-info">Run it now?</a>
			</div>
		}
		<div class="progress progress-striped">
			<div class="progress-bar progress-bar-info" style="width: @(100/Model.ContentTypes.Count)%">
				Working on it...
			</div>
		</div>
		<table class="table table-responsive" id="tbl-content-types">
			<thead>
				<tr>
					<th></th>
					<th>Block type</th>
					<th>Usages</th>
					<th><i class="glyphicon glyphicon-info-sign"></i></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var blockType in Model.ContentTypes.OrderByDescending(ct => ct.Usages.Count))
				{
					<tr data-contenttypeid="@blockType.ContentTypeId" class="ctid-@blockType.ContentTypeId">
						<td class="number">@(pageTypeCtr++)</td>
						<td>@blockType.Name</td>
						<td class="usages">
							<div class="loader small">Loading...</div>
						</td>
						<td>@Html.Raw(blockType.UsagesExpandButton)</td>
					</tr>

				}
			</tbody>
		</table>
	</div>

