@using System.Web.Mvc.Html
@model VirtualTemplates.UI.Models.VirtualTemplatesCompareModel

@{
    Layout = "_VirtualTemplatesRoot.cshtml";
}

<div class="card-body" id="codeContainer">

    @using (Html.BeginForm())
    {
        <p class="action-buttons">
            @{ Html.RenderPartial("Buttons/Save"); }
            @{ Html.RenderPartial("Buttons/SaveAndClose"); }
            <span id="confirmMessage"></span>
            @{ Html.RenderPartial("Buttons/Revert"); }
        </p>

        @Html.HiddenFor(m => Model.VirtualPath)
                <div class="card card-default code-wrapper nopadding">

                    <div class="card-header align-middle">
                        <span class="float-left">@Model.VirtualPath</span>
                        <a class="close float-right align-middle" aria-label="Close" href="@Url.Action("Index")">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>

                    <div>
                        <div class="row">
                            <div class="w-50 text-center align-middle">
                                <span class="btn btn-light" id="leftText">@Model.LeftVersionText</span>
                            </div>

                            <div class="w-50 text-center">
                                <button type="button"
                                        class="btn btn-secondary btn-history"
                                        data-placement="bottom"
                                        data-container="body"
                                        data-html="true"
                                        data-toggle="popover"
                                        title="5 most recent versions"
                                        data-template="&lt;div class=&quot;popover shadow-lg&quot; role=&quot;tooltip&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;&lt;h3 class=&quot;popover-header&quot;&gt;&lt;/h3&gt;&lt;div class=&quot;popover-body&quot;&gt;&lt;/div&gt;&lt;/div&gt;"
                                        data-content="@{ Html.RenderPartial("Shared/VersionList", Model); }">
                                    <span id="rightText">@Model.RightVersionText</span> <i class="fas fa-caret-down text-white"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="compare-card-body nopadding" id="codepanel">
                        <iframe id="compareDisplay" class="card-body nopadding" style="min-height: 100%; min-width: 100%; height: 100%; width: 100%" frameborder="0" src="CompareDisplay?@Request.QueryString.ToString()"></iframe>
                    </div>

                </div>
                @Html.HiddenFor(m => Model.LeftContents)
    }

</div>

<script type="text/javascript">

    var originalUrl = window.location.href.replace(/#.*$/, "");
    var currentHash = window.location.hash;

    // Enable pop overs and hide history buttons if another popover is pressed
    $(function() {

        // Enable pop overs
        $('[data-toggle="popover"]').popover();

        // Link for compare view when viewing history
        $('.btn-history').on('shown.bs.popover',
            function() {
                $('.history-row').on('click',
                    function(e) {
                        var newHash = '#&leftversion=' + e.currentTarget.dataset.leftversion;
                        newHash += '&rightversion=' + e.currentTarget.dataset.rightversion;
                        if (newHash !== currentHash) {
                            currentHash = newHash;
                            $('.spinner').removeClass('d-none');
                            var url = originalUrl;
                            url += '#&leftversion=' + e.currentTarget.dataset.leftversion;
                            url += '&rightversion=' + e.currentTarget.dataset.rightversion;
                            document.location = url;
                        }
                    });
            });
    });

    // Hide pop overs if clicked elsewhere on the page
    $(document).on('click',
        function(e) {
            $('[data-toggle="popover"],[data-original-title]').each(function() {
                //the 'is' for buttons that trigger popups
                //the 'has' for icons within a button that triggers a popup
                if (!$(this).is(e.target) &&
                    $(this).has(e.target).length === 0 &&
                    $('.popover').has(e.target).length === 0) {
                    (($(this).popover('hide').data('bs.popover') || {}).inState || {}).click = false // fix for BS 3.3.6
                }

            });
        });

    function compareLoaded(leftVersionText, rightVersionText) {
        $('.spinner').addClass('d-none');
        var left = $('#leftText');
        left.html(leftVersionText);
        var right = $('#rightText');
        right.html(rightVersionText);
    }

    $(function() {

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            url = url.toLowerCase();
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        function loadCompare() {
            var iframe = $('#compareDisplay');
            //var targetUrl = 'CompareDisplay';
            var targetUrl = "@Url.Action("CompareDisplay", "VirtualTemplates")";
            targetUrl += '?virtualpath=' + getParameterByName('virtualpath');
            targetUrl += '&leftversion=' + getParameterByName('leftversion', window.location.hash);
            targetUrl += '&rightversion=' + getParameterByName('rightversion', window.location.hash);
            targetUrl = `https://${window.location.hostname}${targetUrl}`;
            iframe.attr('src', targetUrl);
            $('.btn-history').popover('hide');
        }

        $(window).on('hashchange',
            function(e) {
                loadCompare();
            });

        var $saveButton = $('#saveButton');
        var $confirmMessage = $('#confirmMessage');

        function saveTemplate(templateContents) {

            $confirmMessage.html("Saving...");
            $('.spinner').removeClass('d-none');
            var action = "@Url.Action("SaveTemplateContents", "VirtualTemplates")";
            $.post(action,
                    {
                        VirtualPath: '@Model.VirtualPath',
                        TemplateContents: templateContents
                    })
                .done(function (data) {
                    $('.spinner').addClass('d-none');
                    $confirmMessage.html(data.message);
                });
        }

        $saveButton.on('click',
            function(e) {
                e.preventDefault();
                saveTemplate(document.getElementById("LeftContents").value);
            });
    });


</script>
