@using System.Web.Mvc.Html
@model VirtualTemplates.UI.Models.VirtualTemplateItemModel

@{
    Layout = "_VirtualTemplatesRoot.cshtml";
}

<div class="card-body" id="codeContainer">

    @using (Html.BeginForm())
    {
        <p class="action-buttons">
            @{ Html.RenderPartial("Buttons/Save"); }
            @{ Html.RenderPartial("Buttons/SaveAndClose"); }
            @{ Html.RenderPartial("Buttons/Compare"); }
            <span id="confirmMessage"></span>
            @{ Html.RenderPartial("Buttons/Revert"); }
        </p>


        @Html.HiddenFor(m => Model.VirtualPath)
        <div class="card card-body code-wrapper nopadding">
            @{ Html.RenderPartial("Shared/PanelTitle"); }

            <div class="card-body" id="codepanel">@Html.TextAreaFor(m => Model.TemplateContents)</div>

        </div>
        @Html.HiddenFor(m => Model.TemplateContents)
    }

</div>

<script>
    $(function() {

        function getModeByFileExtension(path) {
            var modelist = ace.require("ace/ext/modelist");
            return modelist.getModeForPath(path).mode;
        }

        var filename = "@Model.VirtualPath";
            var editor = ace.edit("codepanel");
            var mode = getModeByFileExtension(filename);
            ace.require(mode);
            editor.setOptions({
                fontSize: "12px"
            });
            editor.session.setMode(mode);
            editor.getSession().on('change',
                function(e) {
                    document.getElementById("TemplateContents").value = editor.getValue();
                });

        var $saveButton = $('#saveButton');
        var $confirmMessage = $('#confirmMessage');

        function saveTemplate(templateContents) {

            $confirmMessage.html("Saving...");
            $('.spinner').removeClass('d-none');
            var action = "@Url.Action("SaveTemplateContents", "VirtualTemplates")";
            $.post(action, {
                VirtualPath: '@Model.VirtualPath',
                TemplateContents: templateContents
            })
                .done(function( data ) {
                    $('.spinner').addClass('d-none');
                    $confirmMessage.html(data.message);
                });
        }

        $saveButton.on('click', function (e) {
            e.preventDefault();
            saveTemplate(document.getElementById("TemplateContents").value);
        });
    });
</script>