@using EPiServer.Web.Mvc.Html
@using N1990.Episerver.Cms.Audit.Business
@using N1990.Episerver.Cms.Audit.Models
@model ContentTypeAudit
@{
    Layout = null;
    var pageTypeCtr = 1;
}

<tr>
	<td class="number">@(pageTypeCtr++)</td>
	<td>@Model.Name</td>
	<td>@Model.UsagesSummary</td>
	<td>@Html.Raw(Model.UsagesExpandButton)</td>
</tr>
<tr class="hidden">
	<td>&nbsp;</td>
	<td colspan="3">
		<ul>
			@foreach (var usage in Model.Usages)
			{
				<li>@Html.Partial("RenderUsage", usage)</li>
			}
		</ul>
	</td>
</tr>
