@model Foundation.Demo.ViewModels.DemoFooterViewModel

<!-- Multi site, multi language -->
@if (Model.HomePage.ShowMultiSiteSwitcher || Model.HomePage.ShowMultiLanguageSwitcher)
{

    <div class="col" style="display: flex; justify-content: flex-end;">
        @if (Model.HomePage.ShowMultiLanguageSwitcher)
        {
            <div class="btn-group dropup" style="margin-right: 15px">
                <a href="javascript:void(0);" title="Select language" class="link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-globe"></i>
                    @(Model.CurrentPageLanguages.FirstOrDefault(x => x.Key == Model.CurrentPage.Language).Key.DisplayName)
                </a>
                <div class="dropdown-menu dropdown-menu-right square-box">
                    @foreach (var l in Model.CurrentPageLanguages)
                    {
                        <a class="dropdown-item" href="@l.Value">@l.Key.DisplayName</a>
                    }
                </div>
            </div>
        }

        @if (Model.HomePage.ShowMultiSiteSwitcher)
        {
            <div class="btn-group dropup">
                <a title="Select site" class="link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:void(0);">
                    @(Model.SiteDefinitions.FirstOrDefault(x => x.StartPage.Equals(ContentReference.StartPage)).Name)
                </a>
                <div class="dropdown-menu dropdown-menu-right square-box">
                    @foreach (var site in Model.SiteDefinitions)
                    {
                        <a class="dropdown-item" href="@site.SiteUrl">@site.Name</a>
                    }
                </div>
            </div>
        }

    </div>

}