@using EPiServer.Web.Mvc.Html
@using N1990.Episerver.Cms.Audit.Business
@using N1990.Episerver.Cms.Audit.Models
@model CmsAuditPage
@{
    Layout = "_layout.cshtml";
    var pageTypeCtr = 1;
}
<div id="cms-content-types" data-type="page">
	<div class="progress progress-striped">
		<div class="progress-bar progress-bar-info" style="width: @(100/Model.ContentTypes.Count)%">
			Working on it...
		</div>
	</div>
	<table class="table table-responsive" id="tbl-content-types">
		<thead>
			<tr>
				<th></th>
				<th>Page type</th>
				<th>Usages</th>
				<th><i class="glyphicon glyphicon-info-sign"></i></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var pageType in Model.ContentTypes.OrderByDescending(ct => ct.Usages.Count))
			{
				<tr data-contenttypeid="@pageType.ContentTypeId" class="ctid-@pageType.ContentTypeId">
					<td class="number">@(pageTypeCtr++)</td>
					<td>@pageType.Name</td>
					<td class="usages">
						<div class="loader small">Loading...</div>
					</td>
					<td>@Html.Raw(pageType.UsagesExpandButton)</td>
				</tr>
			}
		</tbody>
	</table>
</div>
