@using EPiServer.Find
@using EPiServer.Shell.Web.Mvc.Html
@using Foundation.Features.Search
@using Foundation.Features.Search.Search

@model SearchViewModel<SearchResultPage>

@{
    Layout = null;
}

<div class="bblock block-layered-nav jsSearchFacets">
    <div class="selection--cm__label">
        @Html.TranslateFallback("/Category/ContentFilters", "Content Filters")
    </div>
    <ul class="selection--cm">
        <li class="selection--cm__inline-item">
            Filtered by:
            @{
                if (string.IsNullOrEmpty(Model.ContentSearchResult.SectionFilter))
                {
                    <label class="content-filters-tag">
                        All
                    </label>
                }
                else
                {
                    <label class="content-filters-tag">
                        @Model.ContentSearchResult.SectionFilter
                    </label>
                }
            }
        </li>
        @if (Model.ContentSearchResult != null && Model.ContentSearchResult.Hits != null)
        {
            <li class="">
                <span class="selection--cm__sub-label">
                    <a href="@Model.ContentSearchResult.GetSectionGroupUrl("")"> All (@Model.ContentSearchResult.Hits.FilterFacet("AllSections").Count)</a>
                </span>
            </li>

            foreach (var sectionGroup in Model.ContentSearchResult.Hits.TermsFacetFor(x => x.SearchSection))
            {
                <li class="">
                    <span class="selection--cm__sub-label">
                        <a href="@Model.ContentSearchResult.GetSectionGroupUrl(sectionGroup.Term)">@sectionGroup.Term (@sectionGroup.Count)</a>
                    </span>
                </li>
            }
        }
    </ul>
</div>