@using EPiServer.Find
@using EPiServer.Shell.Web.Mvc.Html

﻿@model Foundation.Find.Commerce.ViewModels.CommerceSearchViewModel<Foundation.Cms.Pages.SearchPage>
@{
    Layout = null;
}

<div class="bblock block-layered-nav jsSearchFacets">
    <div class="block-title">
        @Html.TranslateFallback("/Category/ContentFilters", "Content Filters")
    </div>
    <ul class="selection--cm">
        <li>
            Filtered by:
            @{
                if (string.IsNullOrEmpty(Model.ContentResult.SectionFilter))
                {
                    <span>All</span>
                }
                else
                {
                    <span>@Model.ContentResult.SectionFilter</span>
                }
            }
            <ul class="selection--cm__dropdown">
                <li>
                    <a href="@Model.ContentResult.GetSectionGroupUrl("")"> All (@Model.ContentResult.Hits.FilterFacet("AllSections").Count)</a>
                </li>
                @foreach (var sectionGroup in Model.ContentResult.Hits.TermsFacetFor(x => x.SearchSection))
                {
                    <li>
                        <a href="@Model.ContentResult.GetSectionGroupUrl(sectionGroup.Term)">@sectionGroup.Term (@sectionGroup.Count)</a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>