@using System.Web.Mvc.Html
@using Foundation.Features.MyOrganization.Budgeting

@model BudgetingPageViewModel

@{
    Layout = "~/Features/MyOrganization/_MyOrganizationLayout.cshtml";
}

@Html.PropertyFor(model => model.CurrentContent.MainBody)
<div class="row">
    <div class="col-12">
        <h4 class="title">@Html.TranslateFallback("/B2B/Budgeting/EditOrganizationBudget", "Edit Organization Budget")</h4>
    </div>
</div>
<div class="row">
    @using (Html.BeginForm("NewBudgetToUser", "Budgeting", FormMethod.Post, new { @class = "col-12" }))
    {
        <div class="row">
            <div class="form-group col-12">
                <label>@Html.TranslateFallback("/B2B/Budgeting/UsrEmail", "User Email")</label>
                <input id="userEmail" type="text" class="textbox" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <label>@Html.TranslateFallback("/B2B/Budgeting/Allocated", "Allocated")</label>
                <input id="amount" type="text" class="textbox" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label>@Html.TranslateFallback("/B2B/Budgeting/StartDate", "Start Date")</label>
                <div class="custom-date-input">
                    <input type="date" id="startDate" class="form-control square-box" disabled value="@Model.NewBudgetOption.StartDate.ToString("yyyy-MM-dd")" />
                </div>

            </div>
            <div class="form-group col-6">
                <label>@Html.TranslateFallback("/B2B/Budgeting/DueDate", "Due Date")</label>
                <div class="custom-date-input">
                    <input type="date" id="endDate" class="form-control square-box" disabled value="@Model.NewBudgetOption.DueDate.ToString("yyyy-MM-dd")" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label>@Html.TranslateFallback("/B2B/Budgeting/Status", "Status")</label>
                <div>
                    @{
                        var statuses = new List<KeyValuePair<string, string>>();
                        statuses.Add(new KeyValuePair<string, string>(Html.TranslateFallback("/B2B/Budgeting/Planned", "Planned"), "Planned"));
                        statuses.Add(new KeyValuePair<string, string>(Html.TranslateFallback("/B2B/Budgeting/OnHold", "OnHold"), "OnHold"));
                    }
                    @Helpers.RenderDropdown(statuses, "", "statusBudget", "statusBudget")
                </div>
            </div>
            <div class="form-group col-6">
                <label>@Html.TranslateFallback("/B2B/Budgeting/Currency", "Currency")</label>
                <div>
                    @{
                        var currencies = new List<KeyValuePair<string, string>>();
                        currencies.Add(new KeyValuePair<string, string>(Model.NewBudgetOption.Currency, Model.NewBudgetOption.Currency));
                    }

                    @Helpers.RenderDropdown(currencies, "", "currencyBudget", "currencyBudget")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" class="button-black jsSaveBudget">
                    @Html.TranslateFallback("/Shared/Save", "Save")
                </button>
                <a href="@Url.Action("Index", "Budgeting")" class="button-transparent-black">
                    @Html.TranslateFallback("/Shared/Cancel", "Cancel")
                </a>
            </div>
        </div>
        <div class="row">
            <div id="BudgetWarningMessage" class="col-12 required"></div>
        </div>
    }
</div>
