@model ContentViewModel<Foundation.Social.Models.Pages.CommunityPage>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                @Html.PropertyFor(x => x.CurrentContent.Ratings, new { CssClass = "row", Tag = EPiBootstrapArea.ContentAreaTags.FullWidth })
                @Html.PropertyFor(x => x.CurrentContent.Subscriptions, new { CssClass = "row", Tag = EPiBootstrapArea.ContentAreaTags.FullWidth })
                @Html.PropertyFor(x => x.CurrentContent.Memberships, new { CssClass = "row", Tag = EPiBootstrapArea.ContentAreaTags.FullWidth })
                @Html.PropertyFor(x => x.CurrentContent.GroupAdmission, new { CssClass = "row", Tag = EPiBootstrapArea.ContentAreaTags.FullWidth })
            </div>
            <div class="col-md-8">
                <h1 style="margin-top: 0;" @Html.EditAttributes(x => x.CurrentContent.PageName)>@Model.CurrentContent.PageName</h1>
                <p class="introduction" @Html.EditAttributes(x => x.CurrentContent.PageDescription)>@Model.CurrentContent.PageDescription</p>

                <div class="col-md-8 clearfix" @Html.EditAttributes(x => x.CurrentContent.MainBody)>
                    @Html.DisplayFor(m => m.CurrentContent.MainBody)
                </div>
                @Html.PropertyFor(x => x.CurrentContent.MainContentArea, new { CssClass = "row", Tag = EPiBootstrapArea.ContentAreaTags.FullWidth })
                @Html.PropertyFor(x => x.CurrentContent.Comments, new { CssClass = "row", Tag = EPiBootstrapArea.ContentAreaTags.FullWidth })
            </div>
        </div>
    </div>
</div>