@model List<KeyValuePair<string, string>>

@if (Model != null && Model.Count > 0)
{
    var firstMedia = Model.ElementAt(0);
    <div class="row">
        <div class="col-12 position-relative">
            <div class="product-zoom-image--container">
                <div class="product-zoom-image"></div>
            </div>
            <picture class="img-fluid border jsProductImageShow">
                <img src="@firstMedia.Value" class="img-fluid lazyload"
                     style="display: @(firstMedia.Key == "Image" ? "inline" : "none")" />
                <video autoplay loop controls class="img-fluid border jsProductImageShow" src="@firstMedia.Value"
                       style="display: @(firstMedia.Key == "Video" ? "inline" : "none")"></video>
            </picture>
        </div>
    </div>
    <div class="row product-detail__image">
        <ul class="col-12">
            @foreach (var media in Model)
            {
                <li class="jsProductImageSelect">
                    <a href="javascript:void(0)" class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '@media.Value' ">
                        @if (media.Key == "Image")
                        {
                            <img data-src="@media.Value?format=webp" class="lazyload" />
                        }
                        else
                        {
                            <video src="@media.Value"></video>
                        }
                    </a>
                </li>
            }
        </ul>
    </div>
}
