@using EPiServer.AddOns.Helpers
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using Foundation.Find.Cms.Models.Pages
@model Foundation.Cms.ViewModels.Categories.CategoryFoundationPageViewModel

<div class="blog__thumbnail">
    <div style="width:100%;">
        <picture>
            @if (!ContentReference.IsNullOrEmpty(Model.CurrentContent.PageImage))
            {
                <picture class="img-fluid">
                    <source data-srcset="@Url.ContentUrl(Model.CurrentContent.PageImage)?format=webp" type="image/webp">
                    <img data-src="@Url.ContentUrl(Model.CurrentContent.PageImage)" class="img-fluid lazyload" />
                </picture>
            }
            else if (Model.CurrentContent as LocationItemPage != null && !ContentReference.IsNullOrEmpty(((LocationItemPage)Model.CurrentContent).Image))
            {
                <picture class="img-fluid">
                    <source data-srcset="@Url.ContentUrl(((LocationItemPage)Model.CurrentContent).Image)?format=webp" type="image/webp">
                    <img data-src="@Url.ContentUrl(((LocationItemPage)Model.CurrentContent).Image)" class="img-fluid lazyload" />
                </picture>
            }
            else
            {
                <picture class="img-fluid">
                    <source data-srcset="/Assets/imgs/blog-img1.jpg?format=webp" type="image/webp">
                    <img data-src="/Assets/imgs/blog-img1.jpg" class="img-fluid lazyload" />
                </picture>
            }
        </picture>
    </div>
    <div class="blog__title-container">
        <div class="blog__title-wrapper">
            <span>
                @foreach (var tag in Model.Categories)
                {
                    <b><a class="account-link" title="@tag.Name" href="@tag.ContentLink.GetPublicUrl()">#@tag.Name</a></b>
                }
            </span>
            <h2 class="blog__title">
                <a href="@Model.CurrentContent.ContentLink.GetPublicUrl()">@Model.CurrentContent.MetaTitle</a>
            </h2>
            <p>@Html.Raw(Model.PreviewText)</p>
        </div>
    </div>
</div>