@using EPiServer.Shell.Navigation
@using EPiServer.Web.Mvc.Html
@inherits WebViewPage<Foundation.Commerce.Marketing.PromotionCouponsViewModel>

<section class="main-container col1-layout ">
    <div class="main container">
        <div class="row col-main">
            <div id="couponContainer" class="col-12">
                <div class="page-title">
                    <h2>Manage Coupon Codes for Promotion @Model.Promotion.Name</h2>
                </div>
                <div class="row">
                    <table class="table col-12">
                        @using (Html.BeginForm("Generate", "SingleUseCoupon", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.PromotionId)
                            <thead>
                                <tr>
                                    <th>@Html.LabelFor(x => x.Quantity, new { @class = "control-label col-sm-2" })</th>
                                    <th>@Html.LabelFor(x => x.ValidFrom, new { @class = "control-label col-sm-2" })</th>
                                    <th>@Html.LabelFor(x => x.Expiration, new { @class = "control-label col-sm-2" })</th>
                                    <th>@Html.LabelFor(x => x.MaxRedemptions, new { @class = "control-label col-sm-2" })</th>
                                    <th>@Html.Label("Action", new { @class = "control-label col-sm-2" })</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", @type = "number" })</td>
                                    <td>@Html.TextBoxFor(x => x.ValidFrom, new { @class = "form-control", @type = "date" })</td>
                                    <td>@Html.TextBoxFor(x => x.Expiration, new { @class = "form-control", @type = "date" })</td>
                                    <td>@Html.TextBoxFor(x => x.MaxRedemptions, new { @class = "form-control", @type = "number" })</td>
                                    <td><button type="submit" class="btn btn-primary">Generate</button></td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>

                <div class="row">

                    <div class="table-responsive">
                        <table class="table col-12">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Code</th>
                                    <th>Created</th>
                                    <th>Valid From</th>
                                    <th>Expiration</th>
                                    <th>Max Redemptions</th>
                                    <th>Used Redemptions</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody class="js-users-table-body">
                                @for (var i = 0; i < Model.Coupons.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.HiddenFor(x => Model.Coupons[i].Id)
                                            @Html.HiddenFor(x => Model.Coupons[i].PromotionId)
                                            @Html.TextBoxFor(x => Model.Coupons[i].Code, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Model.Coupons[i].Created
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => Model.Coupons[i].Valid, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => Model.Coupons[i].Expiration, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => Model.Coupons[i].MaxRedemptions, new { @class = "form-control", @type = "number" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => Model.Coupons[i].UsedRedemptions, new { @class = "form-control", @type = "number" })
                                        </td>
                                        <td>
                                            <a onclick="Coupons.updateCouponRecord(@i);">
                                                <i class="fa fa-save fa-2x"></i>
                                            </a>
                                            &nbsp;&nbsp;
                                            <a href="#" onclick="Coupons.deleteCouponRecord(@Model.Coupons[i].Id, @Model.Coupons[i].PromotionId);">
                                                <i class="fa fa-trash fa-2x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="~/Assets/js/Features/Admin/Coupons.js"></script>