@if (Model != null && Model.Versions != null)
{
    <table class='table table-sm table-hover'>
        <thead>
            <tr>
                <th scope='col'>Changed by</th>
                <th scope='col'>Date</th>
                <th scope='col'>Status</th>
                <th scope='col'>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var version in Model.Versions)
            {
                if (version.ChangeDate != null)
                 {
                     <tr class='history-row' 
                         data-virtualpath ='@version.VirtualPath'
                         data-rightversion='@version.Reference.ToString()' 
                         data-leftversion='@version.Reference.ID.ToString()'>
                         <td class='align-middle'>@version.ChangedBy</td>
                         <td class='align-middle'>@version.ChangeDate.ToString("dd-MMM-yy hh:mm")</td>
                         <td class='align-middle'>@version.StatusText</td>
                         <td class='align-middle'><button type='button' class='btn btn-secondary btn-sm'>Compare</button></td>
                     </tr>
                }
                else
                {
                    <tr class='history-row'
                        data-virtualpath='@version.VirtualPath'
                        data-rightversion='Original'
                        data-leftversion='@version.Reference.ID.ToString()'>
                        <td class='align-middle text-center' colspan='3'>@version.StatusText</td>
                        <td class='align-middle'><button type='button' class='btn btn-secondary btn-sm'>Compare</button></td>
                    </tr>
                }
            }

        </tbody>
    </table>
}