@using EPiServer.Web.Routing
@using Foundation.Features.MyAccount.ResetPassword

@model ForgotPasswordViewModel

@{
    Layout = "~/Features/MyAccount/_MyAccountLayout.cshtml";
}

<div class="row">
    @if ((Model.CurrentContent.MainBody != null && !Model.CurrentContent.MainBody.IsEmpty) || PageEditing.PageIsInEditMode)
    {
        <div class="col-12">
            @Html.PropertyFor(m => m.CurrentContent.MainBody)
        </div>
    }
    <div class="col-12">
        @Html.PropertyFor(x => x.CurrentContent.MainContentArea)
    </div>
</div>

@using (Html.BeginForm("ForgotPassword", null, new { language = ViewContext.RequestContext.GetLanguage() }, FormMethod.Post, new { @class = "row", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "required" })
    <div class="col-6 form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control square-box", autofocus = "autofocus", placeHolder = Html.TranslateFallback("/ResetPassword/Form/Placeholder/Email", "Email") })
    </div>
    <div class="col-6 form-group">
        @if (!((bool)(ViewData["IsReadOnly"] != null ? ViewData["IsReadOnly"] : false)))
        {
            <input type="submit" class="button-black" value="@Html.TranslateFallback("/ResetPassword/Form/Label/Send", "Send")" />
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "required col-md-offset-1" })
        }
    </div>
}