@using Foundation.Features.MyAccount.ResetPassword

@model ResetPasswordViewModel

@{
    Layout = "~/Features/MyAccount/_MyAccountLayout.cshtml";
}

<div class="row">
    @if ((Model.CurrentContent.MainBody != null && !Model.CurrentContent.MainBody.IsEmpty) || PageEditing.PageIsInEditMode)
    {
        <div class="col-12">
            @Html.PropertyFor(m => m.CurrentContent.MainBody)
        </div>
    }
    <div class="col-12">
        @Html.PropertyFor(x => x.CurrentContent.MainContentArea)
    </div>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "row", role = "form" }))
{
    <div class="col-12">
        @Html.AntiForgeryToken()
        <h2>@Html.TranslateFallback("/ResetPassword/ResetPassword/Heading", "Reset password")</h2>
        <p>@Html.TranslateFallback("/ResetPassword/ResetPassword/Message", "Enter your e-mail address and a new password.")</p>
        <hr />
    </div>

    <div class="col-md-6 col-sm-6">
        @Html.ValidationSummary(true, "", new { @class = "required" })
        @Html.HiddenFor(model => model.Code)

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control square-box", placeholder = Html.TranslateFallback("/ResetPassword/Form/Placeholder/Email", "E-mail") })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "required" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control square-box", placeholder = Html.TranslateFallback("/ResetPassword/Form/Placeholder/Password", "New Password") })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "required" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control square-box", placeholder = Html.TranslateFallback("/ResetPassword/Form/Placeholder/NewPassword", "Confirm New Password") })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "required" })
        </div>

        <div class="form-group">
            <input type="submit" class="button-black" value="@Html.TranslateFallback("/ResetPassword/Form/Label/Reset", "Reset")" />
        </div>
    </div>
}