@model Foundation.Features.Pages.ComparisonPage.ComparisonPageViewModel

<div class="row">
    <div class="col-12">
        <h4>@Html.PropertyFor(x => x.CurrentContent.Name)</h4>
    </div>
</div>
<div class="row" style="justify-content: center">
    <div class="col-xs-6 col-sm-4 col-md-3 div__center">
        <img src="@Model.Variant1.ImageUrl" alt="@Model.Variant1.Variant.DisplayName" class="img-fluid" />
        <a href="@Model.Variant1.Variant.GetUrl()" class="link" title="@Model.Variant1.Variant.DisplayName">
            @Model.Variant1.Variant.DisplayName.MakeCompactString()
        </a>
        <p class="price__discount">@Model.Variant1.Price.ToString()</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 div__center">
        <img src="@Model.Variant2.ImageUrl" alt="@Model.Variant2.Variant.DisplayName" class="img-fluid" />
        <a href="@Model.Variant2.Variant.GetUrl()" class="link" title="@Model.Variant2.Variant.DisplayName">
            @Model.Variant2.Variant.DisplayName.MakeCompactString()
        </a>
        <p class="price__discount">@Model.Variant2.Price.ToString()</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <tbody>
                @if (Model.ComparisonCollection.Count > 0)
                {
                    foreach (var p in Model.ComparisonCollection)
                    {
                        <tr>
                            <th scope="row">@p.PropertyDisplayName</th>
                            <td>@Html.Raw(p.ValueVariant1)</td>
                            <td>@Html.Raw(p.ValueVariant2)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>