@using Foundation.Features.Header

@model MyAccountNavigationViewModel

<div class="row">
    <div class="col-12">
        <div class="profile-sidebar">
            <div class="profile-sidebar__title">@Html.TranslateFallback("/Dashboard/Labels/MyAccount", "My Account")</div>
            <ul class="profile-sidebar__group">
                @foreach (var linkItem in Model.MenuItemCollection)
                {
                    var url = Url.PageUrl(linkItem.Href);
                    <li class="@(Request.Url.AbsolutePath.Trim('/') == url.ToString().Trim('/') ? "current" : "") profile-sidebar__item">
                        <a href="@url">@linkItem.Text</a>
                    </li>
                }
            </ul>
        </div>

        @if (Model.Organization != null)
        {
            <div class="profile-sidebar">
                <div class="profile-sidebar__title">@Html.TranslateFallback("/Dashboard/Labels/Organization", "Organization")</div>
                <ul class="selection--cm">
                    @if (Model.Organization.ParentOrganizationId != Guid.Empty)
                    {
                        <li class=" jsFirstLi">
                            <a href="@(Url.ContentUrl(Model.OrganizationPage))" class="@(Model.CurrentOrganization.Name == Model.Organization.ParentOrganization.Name ? "active" : "")">
                                @Model.Organization.ParentOrganization.Name
                            </a>
                            <i data-feather="plus" class="selection--cm__expand jsExpandCollapse pull-right hidden"></i>
                            <i data-feather="minus" class="selection--cm__collapse jsExpandCollapse pull-right"></i>
                            <ul class="selection--cm__dropdown">
                                <li class="">
                                    <a href="@(Url.ContentUrl(Model.SubOrganizationPage))?suborg=@(Model.Organization.OrganizationId)" 
                                       class="@(Model.CurrentOrganization.Name == Model.Organization.Name ? "active" : "")">
                                        @Model.Organization.Name
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class=" jsFirstLi">
                            <a href="@(Url.ContentUrl(Model.OrganizationPage))"
                               class="@(Model.CurrentPageType == MyAccountPageType.Organization && Model.CurrentOrganization.Name == Model.Organization.Name ? "active" : "")">
                                @Model.Organization.Name
                            </a>

                            @if (Model.Organization.SubOrganizations != null)
                            {
                                <i data-feather="plus" class="selection--cm__expand jsExpandCollapse pull-right hidden"></i>
                                <i data-feather="minus" class="selection--cm__collapse jsExpandCollapse pull-right"></i>
                                <ul class="selection--cm__dropdown">
                                    @foreach (var subOrganization in Model.Organization.SubOrganizations)
                                    {
                                        <li class="">
                                            <a href="@(Url.ContentUrl(Model.SubOrganizationPage))?suborg=@(subOrganization.OrganizationId)"
                                               class="@(Model.CurrentPageType == MyAccountPageType.Organization && Model.CurrentOrganization.Name == @subOrganization.Name ? "active" : "")">
                                                @subOrganization.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
