@using Foundation.Commerce.ViewModels.Header

@model Foundation.Commerce.ViewModels.Header.MyAccountNavigationViewModel

<div class="row">
    <div class="col-12">
        <div class="profile-sidebar">
            <div class="profile-sidebar__title">@Html.TranslateFallback("/Dashboard/Labels/MyAccount", "My Account")</div>
            <ul class="profile-sidebar__group">
                @foreach (var linkItem in Model.MenuItemCollection)
                {
                    var url = Url.PageUrl(linkItem.Href);
                    <li class="@(Request.Url.AbsolutePath.Trim('/') == url.ToString().Trim('/') ? "current" : "") profile-sidebar__item">
                        <a href="@url">@linkItem.Text</a>
                    </li>
                }
            </ul>
        </div>

        @if (Model.Organization != null)
        {
            <div class="profile-sidebar">
                <div class="profile-sidebar__title">@Html.TranslateFallback("/Dashboard/Labels/Organization", "Organization")</div>
                <ul class="profile-sidebar__group">
                    @if (Model.Organization.ParentOrganizationId != Guid.Empty)
                    {
                        <li class="@(Model.CurrentPageType == MyAccountPageType.Organization ? "current" : "") profile-sidebar__item">
                            <a href="@(Url.ContentUrl(Model.OrganizationPage))" class="@(Model.CurrentOrganization.Name == Model.Organization.ParentOrganization.Name ? "current" : "")">
                                @Model.Organization.ParentOrganization.Name
                            </a>
                        </li>
                        <li class="profile-sidebar__item">
                            <a href="@(Url.ContentUrl(Model.SubOrganizationPage))?suborg=@(Model.Organization.OrganizationId)" class="@(Model.CurrentOrganization.Name == Model.Organization.Name ? "current" : "")">
                                @Model.Organization.Name
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="@(Model.CurrentPageType == MyAccountPageType.Organization && Model.CurrentOrganization.Name == Model.Organization.Name ? "current" : "") profile-sidebar__item">
                            <a href="@(Url.ContentUrl(Model.OrganizationPage))">
                                @Model.Organization.Name
                            </a>
                        </li>

                        if (Model.Organization.SubOrganizations != null)
                        {
                            foreach (var subOrganization in Model.Organization.SubOrganizations)
                            {
                                <li class="@(Model.CurrentPageType == MyAccountPageType.Organization && Model.CurrentOrganization.Name == @subOrganization.Name ? "current" : "") profile-sidebar__suborganization">
                                    <a href="@(Url.ContentUrl(Model.SubOrganizationPage))?suborg=@(subOrganization.OrganizationId)">
                                        @subOrganization.Name
                                    </a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        }
    </div>
</div>
