@model IEnumerable<ProductTileViewModel>

@if (Model != null && Model.Count() > 0)
{
    <div class="row">
        @foreach (var product in Model)
        {
            var urlQuickView = "/product/quickview";
            if (product.EntryType.Equals(typeof(GenericBundle)))
            {
                urlQuickView = "/Bundle/QuickView";
            }
            if (product.EntryType.Equals(typeof(GenericPackage)))
            {
                urlQuickView = "/Package/QuickView";
            }

            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="product-tile-grid">
                    <a class="product-tile-grid__image-icon">
                        <picture class="img-fluid product-tile-grid__image" onclick="location.href='@product.Url'">
                            <source srcset="@product.ImageUrl?width=520&format=webp" type="image/webp">
                            <img class="img-fluid product-tile-grid__image" src="@product.ImageUrl?width=520" onclick="location.href='@product.Url'" />
                        </picture>
                        @*<span class="hover-feather-icon added-wishlist"><i data-feather="heart"></i></span>*@

                        @if (!Html.IsReadOnlyMode())
                        {
                            <div class="product-tile-grid__image-bottom">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <span class="hover-feather-icon addToWishlist" data="@product.FirstVariationCode"><i data-feather="heart"></i></span>
                                }
                                <span class="jsQuickView hover-feather-icon"
                                      data-toggle="modal"
                                      data-target="#quickView"
                                      data="@product.FirstVariationCode"
                                      productCode="@product.Code"
                                      urlQuickView="@urlQuickView">
                                    <i data-feather="eye"></i>
                                </span>
                                <span class="addToCart hover-feather-icon" data="@product.FirstVariationCode"><i data-feather="shopping-cart"></i></span>
                            </div>
                        }

                    </a>
                    <div class="product-tile-grid__title">
                        <a href="@product.Url">@product.DisplayName</a>
                        @if (product.DiscountedPrice != product.PlacedPrice)
                        {
                            <span class="price__old">@product.PlacedPrice.ToString()</span>
                            <span class="price__discount">@product.DiscountedPrice.ToString()</span>
                        }
                        else
                        {
                            <span class="price__discount">
                                @Html.Raw(product.PlacedPrice != 0 ? product.PlacedPrice.ToString() : "&nbsp;")
                            </span>
                        }
                    </div>
                </div>
                @if (product.IsBestBetProduct && product.HasBestBetStyle)
                {
                    <div class="product-tile-grid__bestbet" title="Best bet"><i data-feather="award"></i></div>
                }
            </div>
        }
    </div>
}