@using System.Web.Mvc.Html
@using Foundation.Cms.ViewModels.Blocks
@using EPiServer.Web.Mvc.Html
@model TagCloudBlockModel

@if (Model.Tags.Any())
{
    <div class="selection--cm__label" @Html.EditAttributes(x => x.Heading)>@Html.DisplayFor(x => x.Heading)</div>
    <ul class="selection--cm">
        @foreach (var tag in Model.Tags)
        {
            <li>
                <a href="@tag.Url">@tag.Title (@tag.Count)</a>
            </li>
        }
    </ul>
}

