@using Foundation.Features.MyAccount.AddressBook

@model CountryRegionViewModel

@{
    var isShowTextbox = !(Model.RegionOptions != null && Model.RegionOptions.Any());
}

<input type="hidden" class="jsRegionName" value="@((string)ViewData["Name"] ?? "Region")" />
<div class="address-region jsRegionSelectionContainer">
    @Html.LabelFor(formModel => formModel.Region, new { @class = "label" })
    @if (!isShowTextbox)
    {
        var values = new List<KeyValuePair<string, string>>();

        if (Model.RegionOptions.Any())
        {
            foreach (var r in Model.RegionOptions)
            {
                values.Add(new KeyValuePair<string, string>(r, r));
            }
        }
        @Helpers.RenderDropdown(values, Model.Region, "", (string)ViewData["Name"] ?? "Region", isShow: !isShowTextbox)
    }
    else
    {
        <input class="textbox jsChangeTaxAddress @Model.TextboxClass" name="@((string)ViewData["Name"] ?? "Region")" value="@Model.Region" />
    }
    @Html.ValidationMessageFor(formModel => formModel.Region)
</div>