@model Foundation.Cms.ViewModels.Media.ImageMediaDataViewModel

@if (!string.IsNullOrEmpty(Model.ImageLink))
{
    <a href="@(string.IsNullOrEmpty(Model.LinkToContent) ? "#" : Url.ContentUrl(Model.LinkToContent))">
        <div style="display: flex; @Model.ImageAlignment; @Model.PaddingStyles">
            <img src="@Url.ContentUrl(Model.ImageLink)" alt="@Model.Description" title="@(Model.Description ?? Model.Name)" class="img-fluid" />
        </div>
    </a>
}