@model Foundation.Cms.Media.ImageMediaData

@if (!ContentReference.IsNullOrEmpty(Model.ContentLink))
{
    <a @String.Format("href={0}", Url.ContentUrl(Model.Link))>
        <div style="display: flex; @Model.ImageAlignment; @Model.PaddingStyles">
            <picture class="img-fluid">
                <source data-srcset="@Url.ContentUrl(Model.ContentLink)?format=webp" type="image/webp">
                <img data-src="@Url.ContentUrl(Model.ContentLink)" alt="@Model.Description" title="@(Model.Description ?? Model.Name)" class="img-fluid lazyload" />
            </picture>
        </div>
    </a>
}