@using Foundation.Features.Media

@model VideoFileViewModel

<div class="video-file">
    <video class="video-file__frame" @(Model.Autoplay ? "autoplay" : "") @(Model.DisplayControls ? "controls" : "")
           poster="@(string.IsNullOrEmpty(Model.PreviewImage) ? "" : Model.PreviewImage)">
        <source src="@Model.VideoLink" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    @if (!string.IsNullOrEmpty(Model.Copyright))
    {
        <p class="video-file__copyright">@Model.Copyright</p>
    }
</div>