@using EPiServer.Core.Html
@using EPiServer.AddOns.Helpers
@using Foundation.Features.Blocks.PageListBlock
@using Foundation.Features.Shared.SelectionFactories

@model PageListBlockViewModel

@if (Model.Pages != null && Model.Pages.Any())
{
    foreach (var page in Model.Pages)
    {
        var imageCol = page.PreviewOption == PreviewOptions.Full ? 12 : (page.PreviewOption == PreviewOptions.Half ? 6 : 4);
        var textCol = imageCol == 12 ? 12 : 12 - imageCol;
        var foundationPage = page.Page as FoundationPageData;

        <a class="row" href="@page.Page.ContentLink.GetPublicUrl()">
            <div class="col-sm-12 col-md-@imageCol">
                @if (page != null && !ContentReference.IsNullOrEmpty(foundationPage.TeaserVideo))
                {
                    <video class="video-fluid" autoplay loop playsinline muted>
                        <source src="@Url.ContentUrl(foundationPage.TeaserVideo)" type="video/mp4">
                    </video>
                }
                else
                {
                    if (page != null && !ContentReference.IsNullOrEmpty(foundationPage.PageImage))
                    {
                        <img class="img-fluid preview--image-top__image lazyload" data-src="@Url.ContentUrl(foundationPage.PageImage)?width=1200" />
                    }
                }
            </div>
            <div class="col-sm-12 col-md-@textCol">
                <h4 class="title">
                    @Html.Raw(page != null ? foundationPage.MetaTitle : page.Page.Name)
                </h4>
                @if (page.ShowPublishDate)
                {
                    <p class="sub-title">@page.Page.StartPublish.Value.ToString("dd MMM yyyy")</p>
                }
                @if (page != null && page.ShowIntroduction)
                {
                    <br />
                    <p class="light-text">@Html.Raw(TextIndexer.StripHtml(foundationPage.TeaserText, 200))</p>
                }
            </div>
        </a>
        <hr />
    }
}