@model PageListBlockViewModel
@using EPiServer.Core.Html
@using Foundation.Features.Blocks.PageListBlock
@using Foundation.Features.Shared.SelectionFactories



@if (Model.Pages != null && Model.Pages.Any())
{
    <div class="row">
        @foreach (var pageModel in Model.Pages)
        {
            var foundationPage = pageModel.Page as FoundationPageData;
            var imageCol = pageModel.PreviewOption == PreviewOptions.Full ? 12 : (pageModel.PreviewOption == PreviewOptions.Half ? 6 : 4);
            <a class="col-@imageCol preview--image-top" href="@pageModel.Page.ContentLink.GetPublicUrl()">
                @if (pageModel != null && !ContentReference.IsNullOrEmpty(foundationPage.TeaserVideo))
                {
                    <video class="video-fluid" autoplay loop playsinline muted>
                        <source src="@Url.ContentUrl(foundationPage.TeaserVideo)" type="video/mp4">
                    </video>
                }
                else
                {
                    if (pageModel != null && !ContentReference.IsNullOrEmpty(foundationPage.PageImage))
                    {
                        <img class="img-fluid preview--image-top__image lazyload" data-src="@Url.ContentUrl(foundationPage.PageImage)" />
                    }
                }
                <div>
                    @if (pageModel.ShowPublishDate)
                    {
                        <p class="sub-title">@pageModel.Page.StartPublish.Value.ToString("dd MMM yyyy")</p>
                    }
                    <h4>
                        @(@Html.Raw(TextIndexer.StripHtml(pageModel != null ? foundationPage.MetaTitle : pageModel.Page.Name, 55)) + "...")
                    </h4>

                    @if (pageModel != null && pageModel.ShowIntroduction)
                    {
                        <p class="light-text">@Html.Raw(TextIndexer.StripHtml(foundationPage.TeaserText, 200))</p>
                    }
                </div>
            </a>
        }
    </div>
}