@using EPiServer.Web.Routing
@using Foundation.Features.Header

@model HeaderViewModel

@if (Model.IsReadonlyMode)
{
    @Html.RenderReadonlyMessage()
}
else
{
    <div class="top-header">
        <div class="container" style="@(Model.LargeHeaderMenu ? "max-width: 1750px;" : "")">
            <div class="row">
                <div class="col-12">
                    <div class="top-header__banner-text">
                        @Html.PropertyFor(x => x.LayoutSettings.BannerText)
                    </div>
                    @if (Model.ShowCommerceControls)
                    {
                        @(await Component.InvokeAsync("Markets", new { contentLink = ViewContext.HttpContext.GetContentLink() }))
                    }
                    @*@if (!User.Identity.IsAuthenticated)
                    {
                        <div class="login-button">
                            <a class="login-url" href="/episerver">
                                Login
                            </a>
                        </div>
                    }*@
                </div>
            </div>
        </div>
    </div>
}

<header class="header @(Model.LayoutSettings.StickyTopHeader ? "sticky-top" : "")">
    <div class="header__wrapper">
        @await Html.PartialAsync("_MobileNavigation", Model)
        @await Html.PartialAsync("_Navigation", Model)
    </div>
</header>