@using EPiServer.Web.Routing
@using Foundation.Features.Header

@model HeaderViewModel

@if (Model.IsReadonlyMode)
{
    @Html.RenderReadonlyMessage()
}
else
{
    <div class="top-header" style="@(Model.LayoutSettings.HideBannerText ? "display:none;" : "") background-color: @Html.PropertyFor(x => x.LayoutSettings.BannerBackgroundColor); color: @Html.PropertyFor(x => x.LayoutSettings.BannerTextColor); ">
        <div class="container" style="@(Model.LargeHeaderMenu ? "max-width: 1750px;" : "")">
            <div class="row">
                <div class="col-12">
                    <div class="top-header__banner-text">
                        @Html.PropertyFor(x => x.LayoutSettings.BannerText)
                    </div>
                    @if (Model.ShowCommerceControls)
                    {
                        @(await Component.InvokeAsync("Markets", new { contentLink = ViewContext.HttpContext.GetContentLink() }))
                    }
                    @*@if (!User.Identity.IsAuthenticated)
                    {
                        <div class="login-button">
                            <a class="login-url" href="/episerver">
                                Login
                            </a>
                        </div>
                    }*@
                </div>
            </div>
        </div>
    </div>
}

<header class="header @(Model.LayoutSettings.StickyTopHeader ? "sticky-top" : "")" style="background-color: @Model.LayoutSettings.MenuBackgroundColor; color: @Model.LayoutSettings.MenuTextColor;">

    <style>
        li.navigation__item > a {
            color: @Model.LayoutSettings.MenuTextColor;
        }

        .navigation__item:hover {
            border-bottom-color: @Model.LayoutSettings.MenuTextColor;
        }
    </style>

    <div class="header__wrapper">
        @await Html.PartialAsync("_MobileNavigation", Model)
        @await Html.PartialAsync("_Navigation", Model)
    </div>
</header>