@using EPiServer.Web.Routing
@using Foundation.Features.Header

@model HeaderViewModel

@if (Model.IsReadonlyMode)
{
    @Html.RenderReadonlyMessage()
}
else
{
    <div class="top-header">
        <div class="container" style="@(Model.LargeHeaderMenu ? "max-width: 1750px;" : "")">
            <div class="row">
                <div class="col-12">
                    <div class="top-header__banner-text">
                        @Html.PropertyFor(x => x.LayoutSettings.BannerText)
                    </div>
                    @if (Model.ShowCommerceControls)
                    {
                        @*<div class="market-selector d-none d-lg-block dropdown">
                <div class="market-selector__wrapper" data-toggle="dropdown" data-offset="1,2" data-flip="false">
                    <picture class="market-selector__market-icon">
                        <source data-srcset="@Model.Markets.CurrentMarket.FlagUrl?format=webp" type="image/webp">
                        <img data-src="@Model.Markets.CurrentMarket.FlagUrl" class="market-selector__market-icon lazyload" />
                    </picture>
                    <p class="market-selector__market-text--current">@Model.Markets.CurrentMarket.Text</p>
                    <div class="market-selector__dropdown-icon">
                        <i data-feather="chevron-down"></i>
                    </div>
                </div>
                @Html.Partial("_MarketList", Model.Markets)
            </div>*@
                        <div class="market-selector dropdown d-none d-lg-block">
                            <div class="market-selector__wrapper" data-toggle="dropdown" data-offset="0, -1" data-flip="false">
                                <picture class="market-selector__market-icon">
                                    <source data-srcset="@Model.Markets.CurrentMarket.FlagUrl?format=webp" type="image/webp">
                                    <img data-src="@Model.Markets.CurrentMarket.FlagUrl" class="market-selector__market-icon lazyload" />
                                </picture>
                                <p class="market-selector__market-text">/VN/VND</p>
                                <div class="market-selector__dropdown-icon">
                                    <i data-feather="chevron-down"></i>
                                </div>
                            </div>
                            <div class="market-panel dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMarket">
                                <div class="market-list">
                                    <div class="market-list__label">Market: USA</div>
                                    <div class="market-list__list">
                                        <div class="market-selector__wrapper">
                                            <img src="assets/images/flags/united-states-of-america.svg"
                                                 class="market-selector__market-icon">
                                            <p class="market-selector__market-text">USA</p>
                                        </div>
                                        <div class="market-selector__wrapper">
                                            <img src="assets/images/flags/canada.svg" class="market-selector__market-icon">
                                            <p class="market-selector__market-text">Canada</p>
                                        </div>
                                        <div class="market-selector__wrapper">
                                            <img src="assets/images/flags/japan.svg" class="market-selector__market-icon">
                                            <p class="market-selector__market-text">Japan</p>
                                        </div>
                                        <div class="market-selector__wrapper">
                                            <img src="assets/images/flags/sweden.svg" class="market-selector__market-icon">
                                            <p class="market-selector__market-text">Sweden</p>
                                        </div>
                                        <div class="market-selector__wrapper">
                                            <img src="assets/images/flags/united-kingdom.svg"
                                                 class="market-selector__market-icon">
                                            <p class="market-selector__market-text">UK</p>
                                        </div>
                                        <div class="market-selector__wrapper">
                                            <img src="assets/images/flags/brazil.svg" class="market-selector__market-icon">
                                            <p class="market-selector__market-text">Brazil</p>
                                        </div>
                                        <div class="market-selector__wrapper">
                                            <img src="assets/images/flags/chile.svg" class="market-selector__market-icon">
                                            <p class="market-selector__market-text">Chile</p>
                                        </div>
                                        <div class="market-selector__wrapper">
                                            <img src="assets/images/flags/germany.svg" class="market-selector__market-icon">
                                            <p class="market-selector__market-text">Germany</p>
                                        </div>
                                        <div class="market-selector__wrapper">
                                            <img src="assets/images/flags/australia.svg" class="market-selector__market-icon">
                                            <p class="market-selector__market-text">Australia</p>
                                        </div>
                                        <div class="market-selector__wrapper">
                                            <img src="assets/images/flags/china.svg" class="market-selector__market-icon">
                                            <p class="market-selector__market-text">China</p>
                                        </div>
                                        <div class="market-selector__wrapper">
                                            <img src="assets/images/flags/south-korea.svg" class="market-selector__market-icon">
                                            <p class="market-selector__market-text">South Korea</p>
                                        </div>
                                        <div class="market-selector__wrapper">
                                            <img src="assets/images/flags/israel.svg" class="market-selector__market-icon">
                                            <p class="market-selector__market-text">Israel</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="language-list">
                                    <div class="language-list__label">Language: VN</div>
                                    <div class="language-list__list">
                                        <div class="language-list__language-text">VN</div>
                                        <div class="language-list__language-text">US</div>
                                    </div>
                                </div>
                                <div class="currency-list">
                                    <div class="currency-list__label">Currency: VND</div>
                                    <div class="currency-list__list">
                                        <div class="currency-list__currency-text">VND</div>
                                        <div class="currency-list__currency-text">USD</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<header class="header @(Model.LayoutSettings.StickyTopHeader ? "sticky-top" : "")">
    <div class="header__wrapper">
        @Html.Partial("_MobileNavigation", Model)
        @Html.Partial("_Navigation", Model)
    </div>
</header>