@using Foundation.Features.Header

@model MiniWishlistViewModel

<div class="cart__row">
    <p class="cart__heading">@Model.Label</p>
</div>
<div class="cart__items">
    @foreach (var item in Model.Items)
    {
        <div class="cart__row">
            <img data-src="@item.ImageUrl?format=webp&width=60" class="cart__product-img lazyload" loading="lazy" />
            <div class="cart__product">
                <a class="account-link" href="@item.Url">@item.DisplayName</a>
                <p class="cart__product-price">
                    @if (item.DiscountedUnitPrice.HasValue)
                    {
                        <span class="price__old">@item.PlacedPrice.ToString()</span>
                        <span class="price__discount">@item.DiscountedUnitPrice.ToString()</span>
                    }
                    else
                    {
                        <span class="price__discount">@item.PlacedPrice.ToString()</span>
                    }
                </p>
                <span class="cart__product-remove jsRemoveCartItem" type="wishlist" shipmentId="0" code="@item.Code">
                    Remove
                </span>
            </div>
        </div>
    }
</div>
<div class="cart__footer">
    <button class="button-black" onclick="window.location.href='@Url.ContentUrl(Model.WishlistPage)'">
        View @Model.Label
    </button>
</div>