@using EPiServer.Framework.Web.Resources
@model CalendarEventBlockViewModel
@Html.FullRefreshPropertiesMetaData(new[] { "ViewMode", "Root", "CategoryFilter", "Recursive" })
@{
    ClientResources.RequireStyle("/Assets/scss/vendors/fullcalendar/fullcalendar.min.css");
    ClientResources.RequireScript("/Assets/js/vendors/jquery/jquery-3.4.0.min.js");
    ClientResources.RequireScript("/Assets/js/vendors/moments/moment.min.js");
    ClientResources.RequireScript("/Assets/js/vendors/fullcalendar/fullcalendar.min.js");
}
<div class='calendar-block'></div>

<script type="text/javascript">
    var events = [
        @foreach (var item in Model.Events)
        {
            @Html.Raw("{ title:'" + @item.Name + "', start:'" + @item.GetPropertyValue("StartDate") + "', end:'" + @item.GetPropertyValue("EndDate") + "', url:'" + @item.LinkURL + "' },")
        }
    ];
    $('div[class="calendar-block"][class!="fc"]').fullCalendar({
        defaultView: '@Model.ViewMode',
        events: events
    });
</script>


