@using Foundation.Social.ViewModels
@using Foundation.Features.CatalogContent.Package

@model GenericPackageViewModel

<div class="row product-detail">
    @Html.Partial("_PackageDetail", Model)
</div>

@if ((Model.CurrentContent.ContentArea != null && !Model.CurrentContent.ContentArea.IsEmpty) || PageEditing.PageIsInEditMode)
{
    <div class="row product-detail__contentarea">
        <div class="col-12">
            @Html.PropertyFor(x => x.CurrentContent.ContentArea)
        </div>
    </div>
}

<div class="row product-tabs">
    <div class="col-12">
        <ul class="nav nav-tabs product-tab" id="loginUsersTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link product-tab__item active" data-toggle="tab" href="#product_tabs_description">
                    @Html.TranslateFallback("/Shared/ProductDescription", "Product Description")
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link product-tab__item" data-toggle="tab" href="#product_tabs_reviews">
                    @Html.TranslateFallback("/Shared/Reviews", "Reviews")
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link product-tab__item" data-toggle="tab" href="#product_tabs_associations">
                    @if (!Model.CurrentContent.AssociationsTitle.IsNullOrEmpty() || PageEditing.PageIsInEditMode)
                    {
                        @Html.PropertyFor(x => x.CurrentContent.AssociationsTitle)
                    }
                    else
                    {
                        @Html.TranslateFallback("/Shared/StaticAssociations", "You May Also Like")
                    }
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane product-tab__content fade in active show" id="product_tabs_description">
                @Html.PropertyFor(x => x.CurrentContent.LongDescription)
            </div>
            <div class="tab-pane product-tab__content fade" id="product_tabs_reviews">
                @Html.Partial("_ReviewForm", new ReviewSubmissionViewModel(Model.Package.Code))
                <div>
                    @if (Model.Reviews != null)
                    {
                        @Html.Partial("_Reviews", Model.Reviews)
                    }
                </div>
            </div>
            <div class="tab-pane product-tab__content product-tab__association fade" id="product_tabs_associations">
                <div class="row">
                    @foreach (var association in Model.StaticAssociations.Take(4))
                    {
                        <div class="col-3">
                            @Html.Partial("_Product", association)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.ShowRecommendations)
{
    <br />
    <section class="related-products">
        <h2>@Html.TranslateFallback("/Shared/RelatedProducts", "Related Products")</h2>
        @{ Html.RenderAction("Index", "Recommendations", new { recommendations = Model.AlternativeProducts });}
    </section>

    <br />
    <section class="upsell-pro">
        <h2>@Html.TranslateFallback("/Shared/RecommendationsForYou", "Recommendations for you")</h2>
        @{ Html.RenderAction("Index", "Recommendations", new { recommendations = Model.CrossSellProducts });}
    </section>
}