@model Foundation.Demo.ViewModels.DemoGenericBundleViewModel

<div class="row">
    <div class="product-details jsProductDetails">
        <div class="col-xs-12 col-md-6 product-details__media">
            <img src="@Model.Images.First()" alt="@Model.Bundle.Code" />
        </div>

        <div class="col-md-6 product-info">

            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <h3>@Html.DisplayFor(x => x.Bundle.DisplayName)</h3>
                </div>
            </div>

            <p>
                @Html.PropertyFor(x => x.Bundle.Description)
            </p>
            <p>
                <strong>@Html.Translate("/Shared/Code"):</strong> @Html.DisplayFor(x => x.Bundle.Code)
            </p>
        </div>
    </div>
</div>

@section Meta {
    @if (Model != null)
    {
        if (!String.IsNullOrEmpty(Model.Bundle.SeoInformation.Description))
        {
            <meta property="description" content="@Html.AttributeEncode(Model.Bundle.SeoInformation.Description)" />
        }
        else if (Model.Bundle.Description!= null && !Model.Bundle.Description.IsEmpty)
        {
            <meta property="description" content="@Html.AttributeEncode(Model.Bundle.Description)" />
        }
        if (!String.IsNullOrEmpty(Model.Bundle.SeoInformation.Keywords))
        {
            <meta property="keywords" content="@Html.AttributeEncode(Model.Bundle.SeoInformation.Keywords)" />
        }
    }
}