@using Foundation.Features.Blocks.ButtonBlock

@model IBlockViewModel<ButtonBlock>

<div style="background-color: @Model.CurrentBlock.BackgroundColor; opacity:@Model.CurrentBlock.BlockOpacity;" class="@(Model.CurrentBlock.Padding + " " + Model.CurrentBlock.Margin)">
    <a class="@Model.CurrentBlock.ButtonStyle" title="@Model.CurrentBlock.ButtonText" href="@Url.ContentUrl(Model.CurrentBlock.ButtonLink)" @Html.EditAttributes(m => m.CurrentBlock.ButtonText)>
        @{
            var buttonText = string.IsNullOrWhiteSpace(Model.CurrentBlock.ButtonText)
                ? "Button text"
                : Model.CurrentBlock.ButtonText;
        }
        @buttonText
    </a>
    <p>@Html.PropertyFor(m => m.CurrentBlock.ButtonCaption)</p>
</div>