@using EPiServer.Web.Mvc.Html
@using Foundation.Features.Blocks.MembershipDisplayBlock

@model MembershipDisplayBlockViewModel

<div style="background-color: @Model.CurrentBlock.BackgroundColor; opacity:@Model.CurrentBlock.BlockOpacity;" class="@(Model.CurrentBlock.Padding + " " + Model.CurrentBlock.Margin)">
    @if (Model.ShowHeading)
    {
        <h2 @Html.EditAttributes(x => x.Heading)>@Model.Heading</h2>
    }

    @foreach (var message in Model.Messages)
    {
        var messageStyle = message.ResolveStyle(message.Type);
        <div style="color:@messageStyle">@message.Body</div>
    }

    @if (Model.Members != null && Model.Members.Any())
    {
        <div class="row">
            <div class="col-md-4">
                <div>
                    <table class="table table-striped MemberTable">
                        <tr><th><u>Member</u></th><th><u>Company</u></th></tr>
                        @foreach (var member in Model.Members)
                        {
                            <tr>
                                <td class="MemberTD"><strong>@member.Name</strong></td>
                                <td class="MemberTD">@member.Company</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</div>