@using EPiServer.Web.Mvc.Html
@using Foundation.Features.Blocks.MembershipAffiliationBlock

@model MembershipAffiliationBlockViewModel

<div style="background-color: @Model.CurrentBlock.BackgroundColor; opacity:@Model.CurrentBlock.BlockOpacity;" class="@(Model.CurrentBlock.Padding + " " + Model.CurrentBlock.Margin)">
    @if (Model.ShowHeading)
    {
        <h2 @Html.EditAttributes(x => x.Heading)>@Model.Heading</h2>
        <hr />
    }

    @foreach (var message in Model.Messages)
    {
        var messageStyle = message.ResolveStyle(message.Type);
        <div style="color:@messageStyle">@message.Body</div>
    }

    @if (Model.Groups != null && Model.Groups.Any())
    {
        <div class="row">
            <div class="col-12">
                <div class="sidebar--container">
                    <ul class="sidebar--group">
                        @foreach (var group in Model.Groups)
                        {
                            <li class="sidebar__item">
                                <a class="account-link title" href="@HttpUtility.UrlDecode(group.PageLink)">@group.Name</a>
                                <p class="sub-title">@group.Description</p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>