@using Foundation.Features.Blocks.NavigationBlock

@model NavigationBlockViewModel

<div style="background-color: @Model.CurrentBlock.BackgroundColor; opacity:@Model.CurrentBlock.BlockOpacity;" class="row @(Model.CurrentBlock.Padding + " " + Model.CurrentBlock.Margin)">
    <div class="col-12">
        <div class="profile-sidebar">
            <div class="profile-sidebar__title" @Html.EditAttributes(x => x.CurrentBlock.Heading)>@Model.Heading</div>
            <ul class="profile-sidebar__group" @Html.EditAttributes(x => x.CurrentBlock.RootPage)>
                @foreach (var linkItem in Model.Items)
                {
                    var url = Url.PageUrl(linkItem.Url);
                    <li class="@(Request.Url.AbsolutePath.Trim('/') == url.ToString().Trim('/') ? "current" : "") profile-sidebar__item">
                        <a href="@url">@linkItem.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>