@using EPiServer.Commerce.Order
@using Foundation.Features.MyAccount.SubscriptionDetail

@model SubscriptionDetailViewModel

@{
    Layout = "~/Features/MyAccount/_MyAccountLayout.cshtml";
}

<div class="page-title">
    <h2>@Html.PropertyFor(x => x.CurrentContent.Name)</h2>
</div>

<div class="row">
    <div class="col-xs-12 col-6">
        @Html.TranslateFallback("/PaymentPlanHistory/Detail/OrderNo", "Order No"): @Model.PaymentPlan.OrderGroupId <br />
        @Html.TranslateFallback("/PaymentPlanHistory/Detail/OrderTotal", "OrderTotal"): @Model.PaymentPlan.GetTotal() <br />
        @Html.TranslateFallback("/PaymentPlanHistory/Detail/Active", "Active"): @Model.PaymentPlan.IsActive <br />
        @Html.TranslateFallback("/PaymentPlanHistory/Detail/Status", "Status"): @Model.PaymentPlan.Status
    </div>
    <div class="col-xs-12 col-6">
        @Html.TranslateFallback("/PaymentPlanHistory/Detail/LastTransaction", "Last Transaction"): @Model.PaymentPlan.LastTransactionDate <br />
        @Html.TranslateFallback("/PaymentPlanHistory/Detail/Completed", "Completed"): @Model.PaymentPlan.CompletedCyclesCount <br />
        @Html.TranslateFallback("/PaymentPlanHistory/Detail/CycleLength", "Cycle Length"): @Model.PaymentPlan.CycleLength <br />
        @Html.TranslateFallback("/PaymentPlanHistory/Detail/CycleMode", "Cycle Mode"): @Model.PaymentPlan.CycleMode <br />
        @Html.TranslateFallback("/PaymentPlanHistory/Detail/EndDate", "End Date"): @Model.PaymentPlan.EndDate
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <table class="table table-bordered" id="my-orders-table">
            <thead class="thead-dark">
                <tr class="first last">
                    <th>@Html.TranslateFallback("/OrderHistory/Labels/OrderID", "Order ID")</th>
                    <th>@Html.TranslateFallback("/OrderHistory/Labels/OrderDate", "Date")</th>
                    <th>@Html.TranslateFallback("/OrderHistory/Labels/ShippedTo", "Shipped")</th>
                    <th><span class="nobr">@Html.TranslateFallback("/OrderHistory/Labels/TotalPrice", "Price")</span></th>
                    <th>@Html.TranslateFallback("/OrderHistory/Labels/Status", "Status")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders.Orders)
                {
                    <tr>
                        <td><a href="@(Model.Orders.OrderDetailsPageUrl)?orderGroupId=@order.PurchaseOrder.OrderLink.OrderGroupId">#@order.PurchaseOrder.OrderNumber</a></td>

                        <td>@order.PurchaseOrder.Created.ToString()</td>
                        <td>
                            @foreach (var shippingAddress in order.ShippingAddresses)
                            {
                                @Html.Partial("_Address", shippingAddress)
                            }
                        </td>
                        <td><span class="price">@order.PurchaseOrder.GetTotal().ToString()</span></td>
                        <td><em>@order.PurchaseOrder.OrderStatus</em></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>