@using Foundation.Features.Community

@model ContentViewModel<CommunityPage>

<div class="row">
    <div class="col-md-4">
        @Html.PropertyFor(x => x.CurrentContent.Ratings, new { Tag = EPiBootstrapArea.ContentAreaTags.FullWidth })
        @Html.PropertyFor(x => x.CurrentContent.Subscriptions, new { Tag = EPiBootstrapArea.ContentAreaTags.FullWidth })
        @Html.PropertyFor(x => x.CurrentContent.Memberships, new { Tag = EPiBootstrapArea.ContentAreaTags.FullWidth })
        @Html.PropertyFor(x => x.CurrentContent.GroupAdmission, new { Tag = EPiBootstrapArea.ContentAreaTags.FullWidth })
    </div>
    <div class="col-md-8">
        <h1 class="mt-0" @Html.EditAttributes(x => x.CurrentContent.PageName)>@Model.CurrentContent.PageName</h1>
        <p class="introduction" @Html.EditAttributes(x => x.CurrentContent.PageDescription)>@Model.CurrentContent.PageDescription</p>
        <div class="clearfix" @Html.EditAttributes(x => x.CurrentContent.MainBody)>
            @Html.DisplayFor(m => m.CurrentContent.MainBody)
        </div>
        @Html.PropertyFor(x => x.CurrentContent.MainContentArea, new { Tag = EPiBootstrapArea.ContentAreaTags.FullWidth })
        @Html.PropertyFor(x => x.CurrentContent.Comments, new { Tag = EPiBootstrapArea.ContentAreaTags.FullWidth })
    </div>
</div>