@using EPiServer.AddOns.Helpers
@using EPiServer.Web.Mvc.Html
@using ImageProcessor.Web.Episerver
@using Foundation.Features.Shared.SelectionFactories
@using Foundation.Features.Blog.BlogListPage

@model BlogListPageViewModel

@if (Model.Blogs != null && Model.Blogs.Any())
{
    foreach (var blog in Model.Blogs)
    {
        var imageCol = blog.PreviewOption == PreviewOptions.Full ? 12 : (blog.PreviewOption == PreviewOptions.Half ? 6 : 4);
        var textCol = imageCol == 12 ? 12 : 12 - imageCol;
        <div class="row">
            <div class="col-xs-12 col-@imageCol">
                <div class="w-100">
                    @if (!ContentReference.IsNullOrEmpty(blog.CurrentContent.PageImage))
                    {
                        <img data-src="@Html.ProcessImage(Url.ContentUrl(blog.CurrentContent.PageImage)).Resize(1200, null)&format=webp" class="img-fluid preview--image-top__image lazyload" />
                    }
                </div>
            </div>
            <div class="col-xs-12 col-@textCol">
                <span>
                    @foreach (var tag in blog.Tags)
                    {
                        <b><a class="account-link" title="@tag.Title" href="@tag.Url">#@tag.Title</a></b>
                    }
                </span>
                <h4 class="title">
                    <a class="link" href="@blog.CurrentContent.ContentLink.GetPublicUrl()">@blog.CurrentContent.MetaTitle</a>
                </h4>
                @if (blog.ShowPublishDate)
                {
                    <p class="sub-title">@blog.CurrentContent.StartPublish.Value.ToString("dd MMM yyyy")</p>
                }
                @if (blog.ShowIntroduction)
                {
                    <br />
                    <p class="light-text">@Html.Raw(blog.PreviewText)</p>
                }
            </div>
        </div>
        <hr />
    }
}
