@using EPiServer.Web.Mvc.Html
@using Foundation.Features.Blog.BlogListPage

@model BlogListPageViewModel

<div class="row blog">
    <div class="col-12">
        <h1 class="blog__heading">@Html.PropertyFor(x => x.CurrentContent.Heading)</h1>
        <nav>
            <ul class="blog__navbar">
                @foreach (var n in Model.SubNavigation)
                {
                    <li class="blog__navitem @(Request.Url.AbsolutePath == n.Value ? "is-active" : "")">
                        <a href="@n.Value">@n.Key</a>
                    </li>
                }
            </ul>
        </nav>
        <div class="row">
            @if ((Model.CurrentContent.MainBody != null && !Model.CurrentContent.MainBody.IsEmpty) || PageEditing.PageIsInEditMode)
            {
                <div class="col-12">
                    @Html.PropertyFor(m => m.CurrentContent.MainBody)
                </div>
            }
            <div class="col-12">
                @Html.PropertyFor(x => x.CurrentContent.MainContentArea)
            </div>
        </div>
        <div id="blog-list">
            @Html.Partial("Views/_BlogList", Model)
            @Html.Partial("Views/_Paging", Model)
        </div>
    </div>
</div>