@model GenericPackageViewModel

<div class="row">
    <div class="product-details jsProductDetails">
        <div class="col-xs-12 col-md-6 product-details__media">
            <img src="@Model.Images.First()" alt="@Model.Package.Code">
        </div>

        <div class="col-md-6 product-info">

            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <h3>@Html.DisplayFor(x => x.Package.DisplayName)</h3>
                </div>
            </div>

            <p>
                @Html.PropertyFor(x => x.Package.Description)
            </p>
            <p>
                <strong>@Html.Translate("/Shared/Code"):</strong> @Html.DisplayFor(x => x.Package.Code)
            </p>
        </div>
    </div>
</div>

@section Meta
{
    @if (Model != null)
    {
        if (!String.IsNullOrEmpty(Model.Package.SeoInformation.Description))
        {
            <meta property="description" content="@Html.AttributeEncode(Model.Package.SeoInformation.Description)" />
        }
        else if (Model.Package.Description != null && !Model.Package.Description.IsEmpty)
        {
            <meta property="description" content="@Html.AttributeEncode(Model.Package.Description)" />
        }
        if (!String.IsNullOrEmpty(Model.Package.SeoInformation.Keywords))
        {
            <meta property="keywords" content="@Html.AttributeEncode(Model.Package.SeoInformation.Keywords)" />
        }
    }
}