@model Foundation.Commerce.Order.ViewModels.OrderSearchBlockViewModel

@if (Model.Orders != null && Model.Orders.Count > 0)
{
    foreach (var o in Model.Orders)
    {
        <tr>
            <th><a href="@Model.OrderDetailUrl?orderGroupId=@o.OrderGroupId">@o.OrderGroupId</a> </th>
            <td>@o.PurchaseOrder.Created</td>
            <td>@string.Join(", ", o.OrderPayments.Select(x => x.PaymentMethodName))</td>
            <td>@o.OrderTotal</td>
            <td>@o.PurchaseOrder.OrderStatus</td>
        </tr>
    }
}
else
{
    <p>No results.</p>
}