@using EPiServer.AddOns.Helpers
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using Foundation.Cms.EditorDescriptors
@using EPiServer.Core.Html

@model PageListPreviewViewModel

@{
    FoundationPageData page = null;
    var previewTextLength = 200;
    var titleLength = 55;
    if (Model.Page is FoundationPageData)
    {
        page = Model.Page as FoundationPageData;
    }
}

@if (string.IsNullOrEmpty(Model.Template) || Model.Template == TemplateSelections.Grid)
{

    <div class="blog__thumbnail">
        <div style="width: 100%">
            <picture>
                @if (page != null && !ContentReference.IsNullOrEmpty(page.PageImage))
                {
                    <img class="img-fluid" src="@Url.ContentUrl(page.PageImage)" />
                }
            </picture>
        </div>
        <div class="blog__title-container">
            <div class="blog__title-wrapper">
                <h2 class="blog__title">
                    <a href="@Model.Page.ContentLink.GetPublicUrl()">@(@Html.Raw(TextIndexer.StripHtml(page != null ? page.MetaTitle : Model.Page.Name, titleLength)) + "...")</a>
                </h2>
                @if (Model.ShowPublishDate)
                {
                    <p class="color-light">@Model.Page.StartPublish.Value.ToString("dd MMM yyyy")</p>
                }
                @if (page != null && Model.ShowIntroduction)
                {
                    <p>@Html.Raw(TextIndexer.StripHtml(page.TeaserText, previewTextLength))</p>
                }
            </div>
        </div>
    </div>
}

@if (Model.Template == TemplateSelections.ImageLeft)
{
    var imageCol = Model.PreviewOption == PreviewOptions.Full ? 12 : (Model.PreviewOption == PreviewOptions.Half ? 6 : 4);
    var textCol = imageCol == 12 ? 12 : 12 - imageCol;
    <div class="row">
        <div class="col-xs-12 col-@imageCol">
            <picture style="width: 100%">
                @if (page != null && !ContentReference.IsNullOrEmpty(page.PageImage))
                {
                    <img class="img-fluid preview--image-top__image" src="@Url.ContentUrl(page.PageImage)" />
                }
            </picture>
        </div>

        <div class="col-xs-12 col-@textCol">
            <h4 class="title">
                <a class="link" href="@Model.Page.ContentLink.GetPublicUrl()">@(@Html.Raw(TextIndexer.StripHtml(page != null ? page.MetaTitle : Model.Page.Name, titleLength)) + "...")</a>
            </h4>
            @if (Model.ShowPublishDate)
            {
                <p class="sub-title">@Model.Page.StartPublish.Value.ToString("dd MMM yyyy")</p>
            }
            @if (page != null && Model.ShowIntroduction)
            {
                <br />
                <p class="light-text">@Html.Raw(TextIndexer.StripHtml(page.TeaserText, previewTextLength))</p>
            }

        </div>
    </div>
    <hr />
}

@if (Model.Template == TemplateSelections.ImageTop)
{

    var imageCol = Model.PreviewOption == PreviewOptions.Full ? 12 : (Model.PreviewOption == PreviewOptions.Half ? 6 : 4);
    <div class="col-@imageCol preview--image-top">
        <picture style="height: 100%;">
            @if (page != null && !ContentReference.IsNullOrEmpty(page.PageImage))
            {
                <img class="img-fluid preview--image-top__image" src="@Url.ContentUrl(page.PageImage)" />
            }
        </picture>
        <div style="flex-basis: 116px; flex-shrink: 0">
            @if (Model.ShowPublishDate)
            {
                <p class="sub-title">@Model.Page.StartPublish.Value.ToString("dd MMM yyyy")</p>
            }
            <h4>
                <a class="link" href="@Model.Page.ContentLink.GetPublicUrl()">
                    @(@Html.Raw(TextIndexer.StripHtml(page != null ? page.MetaTitle : Model.Page.Name, titleLength)) + "...")
                </a>
            </h4>

            @if (page != null && Model.ShowIntroduction)
            {
                <p class="light-text">@Html.Raw(TextIndexer.StripHtml(page.TeaserText, previewTextLength))</p> 
            }
        </div>

    </div>
}