@model BreadcrumbBlockViewModel
@{ 
    var totalItem = Model.Breadcrumb.Count;
}
<div class="row" @Html.EditAttributes(x => x.CurrentBlock.DestinationPage)>
    <div class="col-12">
        <ul class="breadcrumb__group">
            @for (var i = 0; i < totalItem; i++)
            {
                <li class="breadcrumb__item @(Request.Url.AbsolutePath == Model.Breadcrumb[i].Url ? "is-active" : "")">
                    <a href="@Model.Breadcrumb[i].Url">@Model.Breadcrumb[i].Name</a>
                </li>
                if (i < totalItem - 1)
                {
                    <li class="breadcrumb__slash">@Model.CurrentBlock.Separator</li>
                }
            }
        </ul>
    </div>
</div>