@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model IBlockViewModel<CallToActionBlock>

@Html.FullRefreshPropertiesMetaData(new[] { "BackgroundImage", "TextColor" })

@{
    string backgroundSetting = ContentReference.IsNullOrEmpty(Model.CurrentBlock.BackgroundImage) ? "none" : "url(" + Url.ContentUrl(Model.CurrentBlock.BackgroundImage) + ")";
}

<div style="@Model.CurrentBlock.PaddingStyles">
    <div style="background-image: @backgroundSetting; color: @Model.CurrentBlock.TextColor;">
        <h2>@Html.PropertyFor(m => m.CurrentBlock.Title)</h2>
        <p>@Html.PropertyFor(m => m.CurrentBlock.Subtext)</p>
        @Html.PropertyFor(m => m.CurrentBlock.Button)
    </div>
</div>