@model IBlockViewModel<CarouselItemBlock>
@using EPiServer.Web.Mvc.Html

<div class="carousel item">
    <img @Html.EditAttributes(x => x.CurrentBlock.Image) src="@Url.ContentUrl(Model.CurrentBlock.Image)" />
    <div style="position: relative">
        <div class="carousel-caption">
            <h1 @Html.EditAttributes(x => x.CurrentBlock.Title)>
                @Model.CurrentBlock.Title
            </h1>
            <p @Html.EditAttributes(x => x.CurrentBlock.SubTitle)>
                @Model.CurrentBlock.SubTitle
            </p>
        </div>
    </div>
</div>