@using EPiServer.Web.Mvc.Html
@model ContentRecommendationsBlockViewModel

<div class="row content-recommendation-block">
    @foreach (var item in Model.ContentRecommendationItems)
    {
        <div class="col-md-12 col-lg-6">
            <div class="teaser @item.Content.ThemeCssClass @item.Content.AlignmentCssClass @(item.Content.ApplyHoverEffect ? "teaser--detail" : String.Empty)">
                <div class="teaser__text-container">
                    <div class="teaser__text">
                        <h2>@item.Content.Name</h2>
                        <div class="teaser__details">
                            @if (!String.IsNullOrWhiteSpace(item.Content.TeaserText))
                            {
                                <p>@item.Content.TeaserText</p>
                            }
                            @if (!String.IsNullOrWhiteSpace(item.Content.TeaserButtonText))
                            {
                                <p><a class="button-black" href="@Url.ContentUrl(item.Content.ContentLink)">@item.Content.TeaserButtonText</a></p>
                            }
                            else
                            {
                                <p><a class="button-black" href="@Url.ContentUrl(item.Content.ContentLink)">@Html.TranslateFallback("/Shared/ReadMore", "Read more")</a></p>
                            }
                        </div>
                    </div>
                </div>
                <div class="teaser__image" style="background-image: url('@Url.ContentUrl(item.Content.PageImage)'">
                    @if (item.Content.TeaserVideo != null)
                    {
                        <video class="teaser__video" autoplay loop playsinline muted>
                            <source src="@Url.ContentUrl(item.Content.TeaserVideo)" type="video/mp4">
                        </video>
                    }
                </div>
            </div>
        </div>
    }
</div>