@using Foundation.Helpers

@model IBlockViewModel<HeroBlock>

@{
    
   
    var calloutTextColor = string.Empty;
    if (Model.CurrentBlock.Callout.CalloutTextColor.Equals("Light"))
    {
        calloutTextColor = "color: white";
    }
    else if (Model.CurrentBlock.Callout.CalloutTextColor.Equals("Dark"))
    {
        calloutTextColor = "color: black";
    }
}

<div blockId="@(((IContent)Model.CurrentBlock).ContentLink.ID)" id="heroBlock-@(((IContent)Model.CurrentBlock).ContentLink.ID)" name="@(((IContent)Model.CurrentBlock).Name)" class="@(Model.CurrentBlock.Padding + " " + Model.CurrentBlock.Margin)" style="@Model.CurrentBlock.BackgroundColor">
    <div class="hero-block">
        <div class="hero-block__image" style="background-image: url('@Url.WebPFallbackImageUrl(Model.CurrentBlock.BackgroundImage, 1440, null)'">
        </div>
        <div class="hero-block__video">
            <video autoplay loop playsinline muted>
                <source src="@Url.ContentUrl(Model.CurrentBlock.MainBackgroundVideo)" type="video/mp4">
            </video>
        </div>
        <div class="hero-block__overlay" style="opacity: @Model.CurrentBlock.BlockOpacity"></div>
        <div class="hero-block__callout" style="justify-content: @Model.CurrentBlock.Callout.CalloutPosition;">
            @if (!Url.ContentUrl(Model.CurrentBlock.Link).IsEmpty() && Model.CurrentBlock.MainBackgroundVideo == null)
            {
                <div class="hero-block-link" onclick="location.href='@Url.ContentUrl(Model.CurrentBlock.Link)'"></div>
            }
            <div class="callout @(Model.CurrentBlock.Callout.Padding + " " + Model.CurrentBlock.Callout.Margin)" style="@calloutTextColor; text-align: @Model.CurrentBlock.Callout.CalloutContentAlignment;
                @Model.CurrentBlock.Callout.BackgroundColor; opacity: @Model.CurrentBlock.Callout.CalloutOpacity;">
                @Html.PropertyFor(m => m.CurrentBlock.Callout)
            </div>
        </div>
    </div>
</div>