@model PageListBlockViewModel

@Html.FullRefreshPropertiesMetaData(new[] { "IncludePublishDate", "IncludeTeaserText", "Count", "SortOrder", "Root", "PageTypeFilter", "CategoryFilter", "Recursive" })

<div style="@Model.PaddingStyles">
    <h2 @Html.EditAttributes(x => x.Heading)>@Model.Heading</h2>
    <hr />
    @foreach (var page in Model.Pages)
    {
        <div class="row @string.Join(" ", page.GetThemeCssClassNames())">
            <div class="col-12">
                @if (page is FoundationPageData)
                {
                    var foundationPage = (FoundationPageData)page;
                    if (foundationPage.PageImage != null)
                    {
                        <img src="@Url.ContentUrl(foundationPage.PageImage)" class="img-fluid" />
                    }
                }
                <h5>
                    <a href="@Url.ContentUrl(page.ContentLink)" class="link">@page.Name</a>
                </h5>
                @if (Model.ShowPublishDate && page.StartPublish.HasValue)
                {
                    <p class="date">@Html.DisplayFor(x => page.StartPublish)</p>
                }
                @if (page is FoundationPageData)
                {
                    var foundationPage = (FoundationPageData)page;
                    if (Model.ShowIntroduction)
                    {
                        <p>@foundationPage.TeaserText</p>
                    }
                }
            </div>
        </div>
        <hr />
    }
</div>