@using ImageProcessor.Web.Episerver

@model Foundation.Commerce.ViewModels.ProductHeroBlockViewModel

@{
    var imageUrl = string.IsNullOrEmpty(Model.ImageUrl) ? ""
        : Html.ProcessImage(Model.ImageUrl).Resize(Model.CurrentBlock.Image.ImageWidth, Model.CurrentBlock.Image.ImageHeight).ToString();

    var blockLayout = Model.CurrentBlock.Layout.Equals("CalloutRight", StringComparison.OrdinalIgnoreCase) ? "order: 1" : "";
}

<div style="background-color: @Model.CurrentBlock.BackgroundColor; opacity:@Model.CurrentBlock.BlockOpacity;" class="product-hero-block @(Model.CurrentBlock.Padding + " " + Model.CurrentBlock.Margin)">
    <div class="product-hero-block__callout  @(Model.CurrentBlock.Callout.Padding + " " + Model.CurrentBlock.Callout.Margin)" style="@blockLayout; background-color: @Model.CurrentBlock.Callout.BackgroundColor;">
        @Html.PropertyFor(x => x.CurrentBlock.Callout.Text)
    </div>
    <div class="product-hero-block__image" style="@Model.ImagePosition">
        <img class="img-fluid" src="@imageUrl" />
    </div>
</div>