@using EPiServer.Web.Mvc.Html
@model RecentPageCategoryRecommendationViewModel

@if (Model.CategoryPages.Any())
{
    var totalPages = Model.CategoryPages.Count;
    var isOdd = totalPages % 2 != 0;

    <div style="background-color: @Model.CurrentBlock.BackgroundColor; opacity:@Model.CurrentBlock.BlockOpacity;" class="row no-gutters @(Model.CurrentBlock.Padding + " " + Model.CurrentBlock.Margin)">
        @for (var i = 0; i < totalPages; i++)
        {
            var categoryPage = Model.CategoryPages[i];
            var page = categoryPage.Page;

            <div class="@((isOdd && (i + 1 == totalPages)) ? "col-12" : "col-sm-12 col-md-6")">
                <div class="teaser @page.ThemeCssClass @page.AlignmentCssClass @(page.ApplyHoverEffect ? "show-details" : String.Empty)">
                    <div class="teaser-text-container">
                        <div class="teaser-text">
                            <h2>@page.PageName</h2>
                            <p>@categoryPage.Name</p>
                            <div class="teaser-details">
                                @if (!String.IsNullOrWhiteSpace(page.TeaserText))
                                {
                                    <p>@page.TeaserText</p>
                                }
                                @if (!String.IsNullOrWhiteSpace(page.TeaserButtonText))
                                {
                                    <p><a class="button @page.TeaserButtonStyle" href="@Url.ContentUrl(page.ContentLink)">@page.TeaserButtonText</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="teaser-image" style="background-image: url('@Url.ContentUrl(page.PageImage)'">
                        @if (page.TeaserVideo != null)
                        {
                            <video class="video-container" autoplay loop playsinline muted>
                                <source src="@Url.ContentUrl(page.TeaserVideo)" type="video/mp4">
                            </video>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}