@using ImageProcessor.Web.Episerver
@model IBlockViewModel<TeaserBlock>

<div class="border">
    @*Link the teaser block only if a link has been set and not displayed in preview*@
    @using (Html.BeginConditionalLink(
        //!(ViewContext.Controller is PreviewController) &&
        !ContentReference.IsNullOrEmpty(Model.CurrentBlock.Link),
        Url.PageLinkUrl(Model.CurrentBlock.Link),
        Model.CurrentBlock.Heading))
    {
        <div style="@Model.CurrentBlock.PaddingStyles">
            <div class="media">
                @if (PageEditing.PageIsInEditMode)
                {
                    <div class="mediaImg" @Html.EditAttributes(x => x.CurrentBlock.Image)>
                        <img src="@Html.ProcessImage(@Url.ContentUrl(Model.CurrentBlock.Image)).Resize(348, 145, ImageProcessor.Imaging.ResizeMode.Min)" />
                    </div>
                }
                else if (!ContentReference.IsNullOrEmpty(Model.CurrentBlock.Image))
                {
                    <div class="mediaImg">
                        <img src="@Html.ProcessImage(@Url.ContentUrl(Model.CurrentBlock.Image)).Resize(348, 145, ImageProcessor.Imaging.ResizeMode.Min)" />
                    </div>
                }
                <div class="mediaText">
                    <h2 @Html.EditAttributes(x => x.CurrentBlock.Heading)>@Model.CurrentBlock.Heading</h2>
                    <p @Html.EditAttributes(x => x.CurrentBlock.Text)>@Model.CurrentBlock.Text</p>
                </div>
            </div>
        </div>
    }
</div>
