@model  IBlockViewModel<VimeoBlock>

<div style="@Model.CurrentBlock.PaddingStyles">
    @if (Model.CurrentBlock.HasHeadingText)
    {
        <div class="media">
            <h1 @Html.EditAttributes(x => x.CurrentBlock.Heading)>@Model.CurrentBlock.Heading</h1>
            @Html.PropertyFor(x => x.CurrentBlock.VideoText)
        </div>
    }
    @if (Model.CurrentBlock.HasVideo)
    {
        <div class="vimeo-container">
            @if (Model.CurrentBlock.HasCoverImage)
            {
                <a href="javascript:;" class="starter"><span class="sr-only">Play video</span></a>
                <img src="@Url.ContentUrl(Model.CurrentBlock.CoverImage)" />
            }
            <iframe @(string.IsNullOrEmpty(Model.CurrentBlock.VimeoVideo.GetIframeUrl(Model.CurrentBlock.HasCoverImage)) ? "" : "id=" + Model.CurrentBlock.VimeoVideo.GetIframeUrl(Model.CurrentBlock.HasCoverImage)) @(Model.CurrentBlock.HasCoverImage ? "src=about:blank data-" : "") src="@Model.CurrentBlock.VimeoVideo.GetIframeUrl(Model.CurrentBlock.HasCoverImage)" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    }
</div>