@model GenericProductViewModel

<input type="hidden" name="productCode" id="productCode" value="@Model.Product.Code" />
<div class="row">
    <div class="col-md-4 col-sm-12">
        <img src="@Model.Images.ElementAt(0)" alt="@Model.Product.Code" class="img-fluid jsProductImageShow" />
    </div>
    <div class="col-md-8 col-sm-12">
        <h4 class="title">@Html.PropertyFor(x => x.Variant.DisplayName)</h4>
        <h4 class="title sub-title">@Html.PropertyFor(x => x.Product.Brand)</h4>
        <div class="row">
            <div class="col-12">
                @if (Model.DiscountedPrice < Model.ListingPrice)
                {
                    <span class="price__old">@Model.ListingPrice.ToString()</span>
                    <span class="price__discount">@Model.DiscountedPrice.ToString()</span>
                }
                else
                {
                    <span class="price__discount">@Model.DiscountedPrice.ToString()</span>
                }

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <label class="title">@Html.TranslateFallback("/ProductPage/VariationSelection/Color", "Colors")</label>
                <div class="dropdown">
                    <div class="dropdown__selected">
                        <span class="current">@Model.Color</span>
                        <span><i data-feather="chevron-down"></i></span>
                    </div>
                    <ul class="dropdown__group">
                        @foreach (var color in Model.Colors)
                        {
                            <li class="dropdown__item">
                                <label class="checkbox jsSelectColorSize" type="color">
                                    @color.Value
                                    <input type="radio" name="color" value="@color.Value" @(Model.Color == color.Value ? "checked=checked" : "") />
                                    <span class="radio"></span>
                                </label>
                            </li>
                        }

                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <label class="title">@Html.TranslateFallback("/ProductPage/VariationSelection/Size", "Sizes")</label>
                <div class="dropdown">
                    <div class="dropdown__selected">
                        <span class="current">@Model.Size</span>
                        <span><i data-feather="chevron-down"></i></span>
                    </div>
                    <ul class="dropdown__group">
                        @foreach (var size in Model.Sizes)
                        {
                            <li class="dropdown__item">
                                <label class="checkbox  jsSelectColorSize" type="size">
                                    @size.Value
                                    <input type="radio" name="size" value="@size.Value" @(Model.Size == size.Value ? "checked=checked" : "") />
                                    <span class="radio"></span>
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        @Html.Partial("_Store", Model.Stores)
        @if (!Model.HasOrganization)
        {
            <div class="row">
                <div class="col">
                    <button class="button-black--icon addToCart" data="@Model.Variant.Code" qty="1" store="delivery" selectedStore=""><i data-feather="shopping-cart"></i> Add to cart</button>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="button-transparent-black--icon addToWishlist" style="margin-left: 10px;" data="@Model.Variant.Code"><i data-feather="heart"></i> Add to Wishlist</button>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    <button class="button-black--icon addToCart" data="@Model.Variant.Code" qty="1" store="delivery" selectedStore=""><i data-feather="shopping-cart"></i> Add to cart</button>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="button-transparent-black--icon addToWishlist" data="@Model.Variant.Code"><i data-feather="heart"></i> Add to Wishlist</button>
                        <button class="button-transparent-black--icon addToSharedCart" data="@Model.Variant.Code"><i data-feather="shopping-cart"></i> Add to SharedCart</button>
                    }
                </div>
            </div>
        }

    </div>
</div>