@using EPiServer.Web.Mvc.Html
@using N1990.Episerver.Cms.Audit.Business
@using N1990.Episerver.Cms.Audit.Models
@model CmsAuditPage
@{
    Layout = "../Shared/_layout.cshtml";
    var pageTypeCtr = 1;
}
<div id="cms-content-types" data-type="visitor">
    @if (Model.JobLastRunTime == DateTime.MaxValue)
    {
        <div class="alert alert-primary" role="alert">
            We are currently collecting data to show here. <a href="@Url.Action("", "VisitorGroups")" class="btn btn-info">Click here to refresh</a>
        </div>
    }
    else if (((TimeSpan)(DateTime.Now - Model.JobLastRunTime)).TotalHours > 24)
    {
        <div class="alert alert-success" role="alert">
            It's been more than 24h since we last ran the job to identify visitor group usage. <a href="@Url.Action("RunVGJob", "VisitorGroups")" class="btn btn-info">Run it now?</a>
        </div>
    }
    <table class="table table-responsive" id="tbl-content-types">
        <thead>
            <tr>
                <th></th>
                <th>Visitor Group</th>
                <th>Usages</th>
                <th><i class="glyphicon glyphicon-info-sign"></i></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vg in Model.VisitorGroups)
            {
                <tr>
                    <td class="number">@(pageTypeCtr++)</td>
                    <td>@vg.Name</td>
                    <td>@vg.UsagesSummary</td>
                    <td>@Html.Raw(vg.UsagesExpandButton)</td>
                </tr>
                <tr class="hidden">
                    <td>&nbsp;</td>
                    <td colspan="3">
                        <ul>
                            @foreach (var usage in vg.Usages)
                            {

                                <li><a href="@EPiServer.Editor.PageEditing.GetEditUrl(usage.Content)">@usage.ContentName</a> (@usage.ContentType) &gt;  @usage.PropertyName</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
