@using Foundation.Features.Checkout.ViewModels

@model CheckoutViewModel

<div class="row">
    <div class="col-12">
        <h4 class="title">@Html.TranslateFallback("/Shared/Subscription", "Subscription")</h4>
    </div>
    <div class="col-12 checkout--panel-block">
        <label class="checkbox">
            @Html.CheckBoxFor(x => x.IsUsePaymentPlan)
            <span class="title">@Html.TranslateFallback("/Shared/CreateSubscription", "Create subscription of cart")</span>
            <span class="checkmark"></span>
        </label>
    </div>

    <div class="col-12 jsSubscription display-none">
        <div class="row">
            <div class="col-6 flex-start">
                @Html.Label("Every", new { style = "margin-right: 15px;" })
                @Html.TextBoxFor(x => x.PaymentPlanSetting.CycleLength, new { @class = "textbox", type = "number" })
                <span> day(s)</span>
            </div>

            <div class="col-6 flex-end">
                <span class="mr-2">End date </span>
                @Html.TextBoxFor(x => x.PaymentPlanSetting.EndDate, new { type = "date" })
            </div>
        </div>
    </div>
</div>