@using System.Collections.Generic

@model CheckoutViewModel

<div class="row">
    <div class="col-12 checkout--panel-block">
        <label class="checkbox">
            @Html.CheckBoxFor(x => x.IsUsePaymentPlan)
            <span class="title">@Html.TranslateFallback("/Shared/CreateSubscription", "Create subscription of cart")</span>
            <span class="checkmark"></span>
        </label>
    </div>

    <div class="col-12">
        @Html.LabelFor(x => x.PaymentPlanSetting.CycleMode)
        @{
            var values = new List<KeyValuePair<string, string>>();
            foreach (var v in Model.Modes)
            {
                values.Add(new KeyValuePair<string, string>(v.Text, v.Value));
            }
        }
        @Helpers.RenderDropdown(values, Model.PaymentPlanSetting.CycleMode.ToString(), "", "PaymentPlanSetting.CycleMode")
    </div>
    <div class="col-12">
        @Html.LabelFor(x => x.PaymentPlanSetting.CycleLength)
        @Html.TextBoxFor(x => x.PaymentPlanSetting.CycleLength, new { @class = "textbox", type = "number" })
    </div>
</div>