@model FilterOptionViewModel

@{
    Layout = null;
}
<div class="bblock block-layered-nav jsSearchFacets">
    @if (Model.FacetGroups.Any(x => x.Facets.Any(y => y.Selected)))
    {
        <div class="block-title">
            @Html.TranslateFallback("/Category/Filters", "Filters")
        </div>
        <div class="block-content">
            <ul class="nav">
                @for (var i = 0; i < Model.FacetGroups.Count; i++)
                {
                    var facetGroup = Model.FacetGroups[i];
                    for (var j = 0; j < facetGroup.Facets.Count; j++)
                    {
                        var facet = facetGroup.Facets[j];
                        if (!facet.Selected)
                        {
                            continue;
                        }
                        <li class="facet-active">
                            <label class="selected-filter">
                                @Html.CheckBox(string.Format("FilterOption.FacetGroups[{0}].Facets[{1}].Selected", i, j),
                                    new { @class = "jsSearchFacet", @style = "position: absolute;z-index: -100;", data_facetkey = facet.Key, @checked = "checked" })
                                @facet.Name <span class="glyphicon glyphicon-remove"></span>
                            </label>
                            @Html.TextBox(string.Format("FilterOption.FacetGroups[{0}].Facets[{1}].Key", i, j), facet.Key, new { @hidden = "true" })
                            @Html.TextBox(string.Format("FilterOption.FacetGroups[{0}].Facets[{1}].Name", i, j), facet.Name, new { @hidden = "true" })
                        </li>
                    }
                }
                <li class="facets-amount">
                    @Html.TranslateFallback("/Facet/Choices", "Products:") <strong>@Model.TotalCount</strong>
                </li>
            </ul>
            <button type="button" class="btn btn-sm btn-block btn-primary jsSearchFacetRemoveAll">@Html.TranslateFallback("/Category/RemoveAll", "Remove")</button>
        </div>
    }

    <div class="block-title">
        @Html.TranslateFallback("/Category/ShopBy", "Shop By") 
    </div>
    <div class="block-content">
        @for (var i = 0; i < Model.FacetGroups.Count; i++)
        {
            var facetGroup = Model.FacetGroups[i];

            <dl id="narrow-by-list">
                <dt class="odd">
                    @facetGroup.GroupName
                    @Html.TextBox(string.Format("FilterOption.FacetGroups[{0}].GroupFieldName", i), facetGroup.GroupFieldName, new { @hidden = "true" })
                </dt>
                <dd class="odd">
                    <ol>
                        @for (var j = 0; j < facetGroup.Facets.Count; j++)
                        {
                            var facet = facetGroup.Facets[j];
                            if (facet.Selected)
                            {
                                continue;
                            }
                            <li>
                                <label class="facet-link">
                                    @Html.CheckBox(string.Format("FilterOption.FacetGroups[{0}].Facets[{1}].Selected", i, j),
                                        facet.Selected,
                                        new { @class = "jsSearchFacet", @style = "position: absolute;z-index: -100;", data_facetkey = @facet.Key })
                                    @facet.Name (@facet.Count)
                                </label>
                                
                                @Html.TextBox(string.Format("FilterOption.FacetGroups[{0}].Facets[{1}].Key", i, j), facet.Key, new
                                {
                                    @hidden = "true"
                                })
                                @Html.TextBox(string.Format("FilterOption.FacetGroups[{0}].Facets[{1}].Name", i, j), facet.Name, new
                                {
                                    @hidden = "true"
                                })
                            </li>
                        }
                    </ol>
                </dd>
            </dl>
        }
    </div>
</div>
