﻿@model IContentViewModel<IContent>

<!DOCTYPE html>
<html lang="en" class="@(PageEditing.PageIsInEditMode ? "editMode" : "")">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    @Html.CanonicalLink()
    @if (Model.CurrentContent is EntryContentBase)
    {
        @Html.RenderMetaDataForCommerce(Model.CurrentContent)
        @Html.RenderExtendedCssForCommerce(Model.CurrentContent)

        if (Model.CurrentContent is EntryContentBase)
        {
            <title>@((Model.CurrentContent as EntryContentBase).DisplayName)</title>
        }
        else
        {
            <title>Model.CurrentContent.Name</title>
        }
    }
    else
    {
        @Html.RenderMetaData(Model.CurrentContent)
        <title> @Model.CurrentContent.Name</title>
    }
    @Html.RenderOpenGraphMetaData(Model)
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Thasadith&display=swap" rel="stylesheet">

    <link rel="icon" href="~/Assets/icons/episerver.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Assets/icons/episerver.png" type="image/x-icon" />
    <link href="~/Assets/scss/main.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("AdditionalStyles", required: false)
    @Html.RequiredClientResources("Header")
    @Html.RenderExtendedCss(Model.CurrentContent)
</head>
<body>
    @RenderBody()
</body>
</html>