@using EPiServer.Find
@using Foundation.Features.Locations.LocationListPage

@model LocationListViewModel

@{
    var filterString = Model.QueryString["c"];
    var filterContinents = Enumerable.Empty<string>();
    if (!string.IsNullOrWhiteSpace(filterString))
    {
        filterContinents = filterString.ToList();
    }
}

<div class="filterblock" data-filtertype="c" id="continent-filter">
    <h4>
        <i class="fa fa-globe"></i>
        @(string.IsNullOrEmpty(ViewData["FilterTitle"].ToString()) ? Html.TranslateFallback("/Locations/Continents", "Continents") : ViewData["FilterTitle"].ToString())
    </h4>
    <ul class="portfolio-cats">
        <li>
            <span>
                <label>
                    <input class="select-all" type="checkbox" @(!filterContinents.Any() ? "checked=checked" : "")>
                    <strong>
                        @(string.IsNullOrEmpty(ViewData["AllConditionText"].ToString()) ? Html.TranslateFallback("/Locations/AllContinents", "All continents") : ViewData["AllConditionText"].ToString())
                    </strong>
                </label>
            </span>
        </li>
        @foreach (var continent in Model.Locations.TermsFacetFor(x => x.Continent))
        {
            <li>
                <span>
                    <label for="c-@continent.Term">
                        <input class="select-some" type="checkbox" id="c-@continent.Term" value="@Html.Raw(continent.Term)"
                               @(filterContinents.Contains(continent.Term) ? "checked=checked" : "")>
                        @continent.Term (@continent.Count)
                    </label>
                </span>
            </li>
        }
    </ul>
</div>