@using Foundation.Features.MyAccount.AddressBook

@model AddressCollectionViewModel

@{
    Layout = "~/Features/MyAccount/_MyAccountLayout.cshtml";
}

<div class="row">
    <div class="col-12 jsAddressBook">
        <div class="row mypages-header">
            <div class="col-xs-12 col-md-12">
                <h3>@Html.TranslateFallback("/AddressBook/Available", "Available Address")</h3>
            </div>
            <div class="col-xs-12 col-md-3">
                @if (!(bool)(ViewData["IsReadOnly"] == null ? false : ViewData["IsReadOnly"]))
                {
                    <a class="button-transparent-black" href="@Url.Action("EditForm", "AddressBook")">@Html.TranslateFallback("/AddressBook/Form/Label/NewAddress", "New Address")</a>
                }
            </div>
        </div>

        @foreach (var address in Model.Addresses)
        {
            <div class="row address-block">
                <div class="col-xs-12 col-md-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <h4>
                                @Html.Hidden("addressId", address.AddressId)
                                @address.Name
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            @Html.Partial("_Address", address)
                            @if (!(bool)(ViewData["IsReadOnly"] == null ? false : ViewData["IsReadOnly"]))
                            {
                                using (Html.BeginForm("Remove", "AddressBook", new { addressId = address.AddressId }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <a class="button-black" href="@Url.Action("EditForm", "AddressBook", new { addressid = address.AddressId })">@Html.Translate("/AddressBook/Form/Label/Edit")</a>
                                    <button type="submit" class="button-black pull-right" onclick="return confirm('@Html.TranslateFallback("/Shared/Common/DeleteItemConfirmation", "Are you sure you want to delete the address?")');">@Html.TranslateFallback("/AddressBook/Form/Label/Delete", "Delete")</button>
                                }
                            }
                        </div>
                        <div class="col-xs-12 col-md-6">
                            @if (address.BillingDefault)
                            {
                                <strong class="small text-success">@Html.TranslateFallback("/AddressBook/Form/Label/BillingAddress", "Billing Address")</strong><br />
                            }
                            else
                            {
                                if (!(bool)(ViewData["IsReadOnly"] == null ? false : ViewData["IsReadOnly"]))
                                {
                                    using (Html.BeginForm("SetPreferredBillingAddress", "AddressBook", new { addressId = address.AddressId }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="button-black full-width">@Html.TranslateFallback("/AddressBook/Form/Label/SetBillingAddress", "Set billing address")</button>
                                        <br />
                                    }
                                }
                            }
                            @if (address.ShippingDefault)
                            {
                                <strong class="small text-success">@Html.TranslateFallback("/AddressBook/Form/Label/ShippingAddress", "Shipping Address")</strong><br />
                            }
                            else
                            {
                                if (!(bool)(ViewData["IsReadOnly"] == null ? false : ViewData["IsReadOnly"]))
                                {
                                    using (Html.BeginForm("SetPreferredShippingAddress", "AddressBook", new { addressId = address.AddressId }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="button-black btn-xs  btn-block btn-lower" style="margin-top:5px;">@Html.TranslateFallback("/AddressBook/Form/Label/SetShippingAddress", "Set shipping address")</button>
                                        <br />
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>